@import "https://fonts.googleapis.com/css?family=Amatic+SC:700";
.single-question {
  margin-left: 2em;
  margin-right: 2em;
}
.single-question .qHeader .subHeader {
  display: flex;
  flex-direction: row;
  font-size: .6em;
  color: grey;
  margin-top: .3em;
  margin-bottom: .2em;
}
.single-question .qHeader .subHeader a {
  color: grey;
}
.single-question .qHeader .subHeader .tag {
  text-decoration: none;
  margin-right: .2em;
}
.single-question .responses {
  margin-top: .5em;
  margin-left: 1em;
  margin-right: 1em;
}
.single-question .responses .total {
  border-bottom: 1px solid lightgrey;
  font-size: .9em;
}
.single-question .responses .response {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}
.single-question .responses .response .header {
  display: flex;
  flex-direction: column;
  font-size: .8em;
  border: 1px solid lightgrey;
  border-radius: .2em;
  padding: .2em;
}
.single-question .responses .response .header .subHeader {
  display: flex;
  flex-direction: row;
}
.single-question .responses .response .sections {
  margin-top: .5em;
  margin-left: 1em;
  margin-right: 1em;
}
.single-question .responses .response .sections .section-header {
  font-size: .7em;
  border-bottom: 1px solid lightgrey;
  margin-bottom: .5em;
}
.single-question .responses .response .sections .section-body {
  font-size: .7em;
}

.siteBanner {
  z-index: 10;
  color: black;
  background: #64d3fb;
  transition: max-height 1s;
  overflow: hidden;
  max-height: 12em;
}
.siteBanner .agoraDude {
  width: 70px;
  height: 110px;
}
.siteBanner .centeredPouch {
  padding: 20px;
  font-family: 'Amatic SC', sans-serif;
}
.siteBanner .title {
  font-size: 6em;
  text-decoration: none;
}
.siteBanner .logout {
  text-decoration: none;
}
.siteBanner .logOptions {
  font-size: .9em;
}
.siteBanner a {
  color: black;
}
.siteBanner .about {
  font-size: 20px;
}

.smallHead {
  max-height: 3em;
}
.smallHead .centeredPouch {
  padding: 2px !important;
}
.smallHead .centeredPouch .about {
  opacity: 0;
  display: none;
}
.smallHead .centeredPouch .title {
  font-size: 2.75em;
}

.error_code .desat {
  filter: grayscale(100%);
}

.addResponse {
  margin-left: 3em;
  margin-right: 3em;
}
.addResponse .question {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}
.addResponse .bigTitle {
  border-bottom: 1px solid grey;
}
.addResponse .bigTitle input {
  min-height: 3vh;
}
.addResponse .bigTitle .addModule {
  background: rgba(45, 191, 169, 0.22);
}
.addResponse .note {
  color: lightgrey;
  font-size: 0.6em;
  margin-bottom: 1em;
}
.addResponse .modules {
  display: flex;
  flex-direction: column;
}
.addResponse .modules .moduleTitles {
  display: flex;
  flex-direction: row;
}
.addResponse .modules .moduleTitles input {
  min-height: 3vh;
  flex-grow: 10;
  margin-left: 20px;
}
.addResponse .modules .moduleResponses {
  display: flex;
  flex-direction: row;
}
.addResponse .modules .moduleResponses textarea {
  flex-grow: 10;
  min-height: 8vh;
}
.addResponse .submitResponse {
  display: flex;
  flex-direction: row;
}
.addResponse .submitResponse button {
  min-height: 2em;
}
.addResponse ol li {
  display: list-item;
  font-size: 12px;
  list-style-type: disc;
}

.responsesContainer {
  background-color: white;
}

.addResponseButton {
  color: black;
  border: 1px solid lightblue;
  border-radius: 2px;
  background: white;
  margin: .5em;
}

.responseButtonActive {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.addResponseBody {
  padding: 10px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.fill-space {
  flex-grow: 10;
  flex-basis: fill;
}

.min-space {
  flex-grow: 1;
}

.container-p {
  padding: 10px;
}

.container-m {
  margin: 10px;
}

.padding-l-r {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-b {
  padding-bottom: 10px;
}

.padding-a {
  padding: 10px;
}

.margin-t {
  margin-top: 10px;
}

.margin-b {
  margin-bottom: 10px;
}

.margin-r {
  margin-right: 10px;
}

.margin-l {
  margin-left: 10px;
}

.margin-a {
  margin: 10px;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container-col {
  display: flex;
  flex-direction: column;
}

.container-row-inline {
  display: inline-flex;
  flex-direction: row;
}

.center-horizontal {
  justify-content: center;
}

.center-vertical {
  align-items: center;
}

.noWrap {
  flex-wrap: nowrap;
}

.flex-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.border-l-n {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.border-r-n {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.border-thin-black-b {
  border-bottom: .5px solid black;
}

.border-thin-black {
  border: .5px solid grey;
}

.button-wide {
  width: 100px;
}

.button-darken {
  background: #941b1b;
}

.highlight-hover:hover {
  background: rgba(110, 210, 180, 0.08) !important;
}

.verticalLine {
  width: 1px;
  background: grey;
  margin-top: .5em;
  margin-bottom: .5em;
}

.stylessButton {
  border: none;
  margin: none;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  text-align: center;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

.account {
  margin: 20px;
  display: flex;
}
.account .accountStats {
  padding: 10px;
  display: flex;
  flex-flow: column;
}
.account .accountStats .subheader .details {
  display: flex;
  align-items: center;
  font-size: .6em;
  color: grey;
}
.account .accountStats .container-row p {
  margin-right: 5px;
}

.sidebar {
  transition: 100ms;
  border-right: .5px solid lightgrey;
  margin: 25px;
  margin-left: 5px;
  flex-grow: 10;
  height: 100%;
}

@media (pointer: coarse) {
  .site-header {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
  }
  .site-header nav {
    margin: 1vw;
  }
  .site-header form {
    margin: 1vw;
  }
  .site-header div {
    margin: 1vw;
  }
  .site-header .mobile-Hidden {
    display: none;
  }
  .site-header form {
    height: 5vh !important;
    font-size: 2vw !important;
  }
  .site-header form input {
    font-size: 3vw !important;
    padding-left: 2vw !important;
    width: 70vw !important;
  }
  .site-header form button {
    font-size: 3vw !important;
    width: 10vw !important;
  }

  header {
    font-size: 13px;
  }
  header a {
    font-size: 3vw;
    margin: 5px;
    padding: 5px;
  }
  header button {
    font-size: 2vw;
  }
}
.management {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 3px 3px 3px 2px rgba(182, 182, 182, 0.45);
  z-index: 10;
}

header {
  transition: height 0.3s;
  font-size: 13px;
  display: flex;
  flex-direction: row;
}
header form {
  display: inline-flex;
  padding: 3px;
  margin: 0, 2vw, 0, 2vw;
  height: 20px;
}
header form input {
  border-radius: 2px 0px 0px 2px;
  flex-grow: 10;
}
header form button {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  color: black;
  z-index: 11;
  bottom: 1px;
  right: 7px;
  border-radius: 0px 2px 2px 0px;
}
header button {
  font-size: 13px;
}

.site-header {
  min-height: 30px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
}

.site-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.site-nav a {
  flex-grow: 5;
  text-decoration: none;
  color: black !important;
  padding: .5em;
  padding-top: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: calc($navbarHeight - 20px);
  display: inline;
}
.site-nav .active a {
  color: #228ee6 !important;
}

.account-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.account-dropdown:hover ul {
  display: flex;
  flex-direction: column;
}

.askQuestionContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
  text-align: center;
  align-items: center;
}
.askQuestionContainer h2 {
  flex-grow: 1;
}
.askQuestionContainer button {
  flex-grow: 1;
  margin: 10px;
  min-width: 10%;
}
.askQuestionContainer input {
  flex-grow: 6;
  padding: 10px;
  min-width: 50%;
}
.askQuestionContainer textarea {
  flex-grow: 6;
  padding: 10px;
  min-width: 50%;
}

@media (pointer: coarse) {
  .questionStream .pagerContainer button {
    margin-left: 10px;
    width: 20vw;
    height: 5vw;
    font-size: 3vw;
  }
}
.questionSubHeader {
  width: 100%;
}

.orderContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.orderContainer button {
  margin-left: 5px;
}

.activeQuestion {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.responsesContainer {
  border-top: 1px solid lightgrey;
  background-color: white;
  margin: 15px;
}

.responsesContainer.ng-enter,
.responsesContainer.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
}

.responsesContainer.ng-enter,
.responsesContainer.ng-leave.ng-leave-active {
  opacity: 0;
}

.responsesContainer.ng-enter.ng-enter-active,
.responsesContainer.ng-leave {
  opacity: 1;
}

.questionStream .questionContainer {
  border-top: 1px solid lightgrey;
}
.questionStream .questionContainer .subcontrol {
  display: flex;
  flex-direction: row;
  margin-bottom: .35em;
  font-size: .6em;
  color: grey;
  padding-left: 6px;
}
.questionStream .questionContainer .subcontrol a {
  border-radius: .1em;
  color: grey;
}
.questionStream .questionContainer .subcontrol .tag {
  text-decoration: none;
  margin-right: .5em;
}
.questionStream .questionContainerActive {
  box-shadow: 0px 0px 3px 3px rgba(182, 182, 182, 0.45);
  border-radius: 2px;
  z-index: 2;
}
.questionStream ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.questionStream ul li {
  display: flex;
  flex-direction: column;
}
.questionStream ul li .questionTitle {
  border: none;
  padding-top: 15px;
  background: white;
  color: black;
  text-align: left;
  border-radius: 0;
  box-shadow: none;
  font-size: 1rem;
  text-decoration: none;
}
.questionStream ul li .questionTitle .belowTitle {
  display: flex;
  flex-direction: row;
  font-size: .7em;
  color: grey;
  margin-top: 1em;
  margin-bottom: .2em;
}
.questionStream ul li .questionTitle:hover .title {
  text-decoration: underline;
}
.questionStream .pagerContainer a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-size: .7em;
}

.loginPage {
  display: flex;
  flex-direction: row;
}
@media (pointer: coarse) {
  .loginPage img {
    display: none;
  }
  .loginPage form input {
    font-size: 5vw;
  }
  .loginPage form button {
    font-size: 3vw;
  }
}
.loginPage .loginContainer {
  padding: 2em;
  margin: 3em;
  border-radius: .8em;
  flex-grow: 4;
}
.loginPage .loginContainer .failed {
  color: red;
}
.loginPage .loginContainer form {
  font-size: .8em;
  max-width: 25em;
}
.loginPage .loginContainer form input {
  margin-bottom: 1em;
  padding: .3em;
}
.loginPage .loginContainer form .loginFormContainer {
  justify-content: center;
}

.advancedSearch {
  margin-right: 30px;
  flex-grow: 6;
}
.advancedSearch form {
  font-size: 13px;
  display: inline-flex;
  width: auto;
}
.advancedSearch form .combinedInput {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.advancedSearch form button {
  border-radius: 0px 2px 2px 0px;
  height: 20px;
}
.advancedSearch form label {
  margin: 0;
}

#aboutFrame {
  margin: 50px;
}
#aboutFrame #inAbout {
  margin: 5px;
}
#aboutFrame img {
  border-radius: 5px;
}

.sidebar {
  display: none;
}

@media (pointer: coarse) {
  .sidebar {
    display: none;
  }

  body {
    font-size: 3vw;
  }

  .questionStream ul li .questionTitle {
    font-size: 4vw;
  }
}
@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}
.content {
  margin-top: 5em;
}

.back {
  margin-bottom: 1em;
  font-size: .7em;
}
.back .click-area {
  cursor: pointer !important;
}

.detailText {
  color: grey;
  font-size: 0.6em;
}

.contentBigHead {
  margin-top: 12em !important;
}

p {
  font-size: .8em;
}

body {
  font-family: 'font-awesome', sans-serif;
  background: white;
  margin: 0;
  font-size: 20px;
}

input {
  border: none;
  margin: none;
  min-height: 2vh;
  padding-left: 5px;
  border-radius: 2px;
  border: .5px solid black;
}

button {
  border: none;
  margin: none;
  min-height: 2em;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  color: black;
  text-align: center;
  border-radius: 2px;
}

.submitButton {
  border: 0.5px solid #36ba53;
}

.infoButton {
  background: rgba(45, 191, 169, 0.22);
  padding: 2px 6px 3px;
}

.doButton {
  border: 0.5px solid rgba(50, 140, 191, 0.46);
}

.lightEmphasisButton {
  border-bottom: .5px solid lightgrey;
}

.plainBoarderedButton {
  border: .5px solid black;
}

button:focus {
  outline: none;
}

button:hover {
  background: rgba(223, 170, 35, 0.05);
}

a:hover {
  background: rgba(223, 170, 35, 0.05);
}

textarea {
  border: 1px;
  margin: 20px;
  border-radius: 2px;
  padding: 10px;
  resize: vertical;
  border: .5px solid black;
}

form {
  border-radius: 2px;
  width: auto;
  padding: 3px;
}

.questionStream {
  margin: 10px;
  padding: 10px;
}

/*# sourceMappingURL=mainScss.css.map */
