/*defaults*/

textarea {
    margin-bottom: 10px !important;
}
table {
    table-layout: fixed;
}
td {
    word-wrap: break-word;
}

/*classes*/

.float-right {
    float: right;
}
.purp {
    background-color: rgba(184, 122, 217, 0.7) !important;
}
.zMarg {
    padding: 0vw !important;
    margin: 0vw !important;
}
.tableMod {
    padding: 0vw !important;
    margin: 0vw !important;
}
.activeTab {
    background-color: white !important;
    color: white !important;
}
.question-enter-box {
    resize: none;
    /*height: 200px !important;*/
}
.tag-box {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.loginContainer {
    padding: 20px;
    margin-left: 50vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 45vw;
    border-radius: 10px;
}

/*overide boot nav collapse*/
.navbar-default .navbar-nav > .active{
   color: #000;
  background: #242120;
  border: 2px solid #73AD21;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
     color: #ffffff;
     background: #25221f;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top: 14px !important;
    padding-bottom: 22px !important;
    height: 25px !important;
}
.navbar {
  min-height: 20px !important;
}

/*ids*/

#questionPage {
    margin-top: 65px;
    padding: 10px !important;
}
#aboutFrame {
    margin: 10vw;
    margin-top: 80px;
    height: 90%;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
}
#inAbout {
    font-size: 15px;
    color: black;
    margin: 40px;
    margin-left: 57%;
    position: absolute;
    padding: 2%;
    width: 20%;
    border-radius: 10px;
    background: white;
    overflow: hidden;
}
#mainSearch {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
#pageChanger {
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 2vh;
    margin-bottom: 3vh;
}
#agoraDudeAccount {
    position: absolute;
    margin: 30px;
    margin-top: 5vh;
    margin-right: 150px;
    margin-left: 150px;
    width: 20%;
}
