/*defaults*/
/*classes*/
.activeTab{
  background-color: white !important;
  color: black !important;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

/*ids*/
#aboutFrame {
    margin: 10vw;
    margin-top: 80px;
    height: 90%;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
}
#inAbout {
    font-size: 15px;
    color: black;
    margin: 40px;
    margin-left: 57%;
    position: absolute;
    padding: 2%;
    width: 20%;
    border-radius: 10px;
    background: white;
    overflow: hidden;
}
#pageChanger {
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 2vh;
    margin-bottom: 3vh;
}
#agoraDudeAccount {
    position: absolute;
    margin: 30px;
    margin-top: 5vh;
    margin-right: 150px;
    margin-left: 150px;
    width: 20%;
}
#search {
  margin: 0px !important;
}
