@import "https://fonts.googleapis.com/css?family=Amatic+SC:700";
.search {
  margin: .5em;
  padding: .5em;
  background: white;
}
.search .searchParameters {
  background: #f6f6f6;
  padding: .5em;
  border-radius: .2em;
}
.search .searchParameters .searchForm div {
  margin: .3em;
}
.search .searchParameters .searchForm div .searchBox {
  flex-grow: 10;
  padding: .6em;
}
.search .searchParameters .searchForm div .checkbox {
  font-size: .7em;
  color: grey;
  margin-right: .5em;
}
.search .searchResults {
  margin-top: 1em;
}
.search .searchResults .responses .results .response {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: .25em;
  border: 1px solid lightgrey;
  border-radius: .2em;
}
.search .searchResults .responses .results .response .header .text {
  color: black;
  font-size: .8em;
}
.search .searchResults .responses .results .response .header .details {
  font-size: .6em;
  color: grey;
  margin-left: 1em;
}
.search .searchResults .responses .results .response .subHeader a {
  font-size: .6em;
  color: grey;
}
.search .searchResults .users .results {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.search .searchResults .users .results .user {
  border-bottom: 1px solid lightgrey;
}
.search .searchResults .users .results .user a {
  color: black;
  font-size: .8em;
}
.search .searchResults .users .results .user a .details {
  font-size: .7em;
  color: grey;
  margin-left: 1em;
}

.single-question {
  margin: 0.5em;
  background: white;
  padding: 1em;
  flex-grow: 10;
}
.single-question .qHeader {
  margin-top: 0.4em;
}
.single-question .qHeader .title {
  font-size: 1.2em;
}
.single-question .qHeader .subHeader {
  display: flex;
  flex-direction: row;
  color: grey;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}
.single-question .qHeader .subHeader a {
  color: grey;
}
.single-question .responses {
  margin-top: 0.5em;
}
.single-question .responses .response {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  box-shadow: 0 0 0.8em 0 rgba(182, 182, 182, 0.45);
  border-radius: 0.2em;
  padding: .4em;
}
.single-question .responses .response .header {
  display: flex;
  flex-direction: column;
  padding: 0.2em;
}
.single-question .responses .response .header .subHeader {
  display: flex;
  flex-direction: row;
}
.single-question .responses .response .header .vote {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 0.5em;
}
.single-question .responses .response .sections {
  display: flex;
  flex-direction: row;
  margin: .2em 1em;
  border-top: 0.1em solid lightgrey;
  border-radius: 0.2em;
  padding: 0.4em;
}
.single-question .responses .response .sections .section .section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4em;
}
.single-question .responses .response .sections .section .section-header .addComment {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  flex-grow: 5;
}
.single-question .responses .response .sections .section .section-header .addComment button {
  padding: 0.2em .4em;
  margin: 0.2em;
}
.single-question .responses .response .sections .section .section-header .addComment input {
  padding: 0.2em 1em;
  margin: 0.2em;
  flex-grow: 3;
}
.single-question .responses .response .sections .section .section-body {
  margin-left: 1em;
  margin-right: 1em;
  flex-shrink: 1;
}
.single-question .responses .response .sections .section-comments {
  display: flex;
  flex-grow: 10;
  margin-left: 1em;
  border-left: 0.1em solid lightgrey;
  padding-left: 1em;
}
.single-question .responses .response .sections .section-comments .section-comment-header {
  font-size: .8em;
  color: grey;
  padding-bottom: 0.6em;
}
.single-question .responses .response .sections .section-comments .section-comment {
  display: flex;
  flex-wrap: nowrap;
}
.single-question .responses .response .sections .section-comments .section-comment .comment {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-top: 0.4em;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.single-question .responses .response .sections .section-comments .section-comment .comment .username {
  margin-right: .4em;
  color: grey;
}
.single-question .responses .response .sections .section-comments .section-comment .comment .detailText {
  margin-left: 1em;
  align-self: center;
  justify-content: center;
}
.single-question .responses .response .sections .section-comments .section-comment .comment .editButton {
  color: blue;
}

@media (pointer: coarse) {
  .logOptions {
    display: none;
  }
}
.banner {
  z-index: 10;
  color: black;
  background: #98e959;
  transition: max-height 1s;
  overflow: hidden;
  max-height: 12em;
}
.banner .agoraDude {
  top: 1em;
  width: 4.4em;
  height: 7em;
}
.banner .centeredPouch {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Amatic SC', sans-serif;
}
.banner .pouch {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 3em;
  align-items: center;
  background: #d05555;
  border-radius: 4em;
  border: .3em solid white;
  padding: 0 .6em;
}
.banner .title {
  font-size: 3em;
  text-decoration: none;
}
.banner .logOptions {
  font-size: 1.2em;
}
.banner a {
  color: black;
}
.banner .about {
  font-size: 1.8em;
}

.smallHead {
  max-height: 3em;
  font-size: 1.2em;
}
.smallHead .centeredPouch .about {
  opacity: 0;
  display: none;
}
.smallHead .centeredPouch .title {
  font-size: 2.4em;
}

.addResponse {
  background: white;
  padding: .5em;
  margin: .5em;
}
.addResponse .question {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}
.addResponse .bigTitle {
  border-bottom: 1px solid grey;
}
.addResponse .bigTitle input {
  min-height: 3vh;
}
.addResponse .bigTitle .addModule {
  background: rgba(45, 191, 169, 0.22);
}
.addResponse .note {
  color: lightgrey;
  font-size: 0.6em;
  margin-bottom: 1em;
}
.addResponse .modules {
  display: flex;
  flex-direction: column;
}
.addResponse .modules .moduleTitles {
  display: flex;
  flex-direction: row;
}
.addResponse .modules .moduleTitles input {
  min-height: 3vh;
  flex-grow: 10;
  margin-left: 20px;
}
.addResponse .modules .moduleResponses {
  display: flex;
  flex-direction: row;
}
.addResponse .modules .moduleResponses textarea {
  flex-grow: 10;
  min-height: 8vh;
}
.addResponse .submitResponse {
  display: flex;
  flex-direction: row;
}
.addResponse .submitResponse button {
  min-height: 2em;
}
.addResponse ol li {
  display: list-item;
  font-size: 12px;
  list-style-type: disc;
}

.responsesContainer {
  background-color: white;
}

.addResponseButton {
  color: black;
  border: 1px solid lightblue;
  border-radius: 2px;
  background: white;
  margin: .5em;
}

.responseButtonActive {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.addResponseBody {
  padding: 10px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

li {
  font-family: Josefin Slab;
}

.fill-space {
  flex-grow: 10;
  flex-basis: fill;
}

.min-space {
  flex-grow: 1;
}

.container-p {
  padding: 10px;
}

.container-m {
  margin: 10px;
}

.padding-l-r {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-b {
  padding-bottom: 10px;
}

.padding-a {
  padding: 10px;
}

.margin-t {
  margin-top: 10px;
}

.margin-b {
  margin-bottom: 10px;
}

.margin-r {
  margin-right: 10px;
}

.margin-l {
  margin-left: 10px;
}

.margin-a {
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.row-inline {
  display: inline-flex;
  flex-direction: row;
}

.center-horizontal {
  justify-content: center;
}

.center-vertical {
  align-items: center;
}

.noWrap {
  flex-wrap: nowrap;
}

.flex-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.border-l-n {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.border-r-n {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.border-thin-black-b {
  border-bottom: .5px solid black;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-fill {
  flex-basis: fill;
}

.border-thin-black {
  border: .5px solid grey;
}

.button-wide {
  width: 100px;
}

.button-darken {
  background: #941b1b;
}

.highlight-hover:hover {
  background: rgba(110, 210, 180, 0.08) !important;
}

.vertical-line {
  width: .1em;
  background: grey;
  margin-top: .5em;
  margin-bottom: .5em;
}

.stylessButton {
  border: none;
  margin: none;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  text-align: center;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

.tall {
  height: 100%;
}

.account {
  margin: .5em;
  display: flex;
  background: white;
  padding: .5em;
}
.account .back {
  display: flex;
  flex-direction: row;
}
.account .back .name {
  display: flex;
  flex-direction: row;
  font-size: 1em;
}
.account .noUser {
  align-items: center;
  justify-content: center;
}
.account .accountStats {
  padding: 10px;
  display: flex;
  flex-flow: column;
}
.account .accountStats .subheader .details {
  display: flex;
  align-items: center;
  color: grey;
}
.account .accountStats .empty-text {
  align-self: center;
}
.account .accountStats .row p {
  margin-right: 5px;
}
.account .accountStats .responses .response {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: .25em;
  border: 1px solid lightgrey;
  border-radius: .2em;
}
.account .accountStats .responses .response .header .text {
  color: black;
  font-size: .8em;
}
.account .accountStats .responses .response .header .details {
  font-size: .8em;
  color: grey;
  margin-left: 1em;
}
.account .accountStats .responses .response .subHeader a {
  font-size: .8em;
  color: grey;
}
.account .accountStats .responses .response .subHeader .details {
  font-size: .8em;
  color: grey;
}

.sidebar {
  background: white;
  display: flex;
  flex-direction: column;
  transition: 100ms;
  padding: 0.6em;
  margin: 0.4em;
}
.sidebar .catagory {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  padding: 0.6em;
  margin-bottom: 0.4em;
  border-bottom: 0.2em solid lightgrey;
  max-width: 13em;
}
.sidebar .catagory ul {
  padding-left: .8em;
}
.sidebar .catagory .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .2em;
}
.sidebar .catagory .tags .tag {
  margin: .2em;
}
.sidebar .catagory .ask {
  text-decoration: none;
}

.management {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 3px 3px 3px 2px rgba(182, 182, 182, 0.45);
  z-index: 10;
}

header {
  transition: height 0.3s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header form {
  padding: .2em;
  display: flex;
  flex-direction: column;
  min-height: 2em;
}
header form input {
  border-radius: 2px 0px 0px 2px;
  flex-grow: 10;
  min-height: 2em;
}
header form button {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  color: black;
  z-index: 11;
  bottom: .2em;
  right: 1em;
  border-radius: 0px 2px 2px 0px;
}
header button {
  font-size: 1em;
}
header .active a {
  color: #228ee6 !important;
}
header .site-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
header .site-nav ul li {
  display: flex;
  flex-direction: row;
}
header .site-nav ul li a {
  flex-grow: 5;
  text-decoration: none;
  color: black !important;
  padding: .5em;
  padding-top: .5em;
  justify-content: center;
  height: calc($navbarHeight - 20px);
  display: inline;
  margin-left: .2em;
}
header .site-nav ul li a:hover {
  background: #e0e0e0 !important;
  border-radius: .2em;
}

.site-header {
  min-height: 30px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
}

.account-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.account-dropdown:hover ul {
  display: flex;
  flex-direction: column;
}

@media (pointer: coarse) {
  .askQuestionPage .askQuestion input {
    min-width: 20em !important;
  }
  .askQuestionPage .askQuestion textarea {
    min-width: 20em !important;
  }
}
.askQuestionPage {
  display: flex;
  justify-content: center;
  padding: 2em;
  margin: .5em;
  background: white;
}
.askQuestionPage .header {
  margin: .5em;
  background: #f6f6f6;
  padding: .5em;
  font-size: 1.4em;
}
.askQuestionPage .askQuestion {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: .2em;
  flex-grow: 1;
}
.askQuestionPage .askQuestion input {
  padding: 1em;
  flex-grow: 1;
  min-width: 30em;
}
.askQuestionPage .askQuestion textarea {
  padding: 1em;
  flex-grow: 1;
  min-width: 30em;
}
.askQuestionPage .askQuestion button {
  margin-top: 1em;
}
.askQuestionPage .askQuestion .delete-button {
  color: red;
}

.questionSubHeader {
  width: 100%;
}

.orderContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.orderContainer button {
  margin-left: 5px;
}

.questionStream {
  flex-grow: 10;
}
.questionStream ul {
  margin: 0;
}
.questionStream ul li {
  border-top: 0.2em solid #e0dfdf;
}
.questionStream .questionContainer {
  padding-top: .4em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .4em;
  display: flex;
  flex-direction: column;
  font-size: .9em;
}
.questionStream .questionContainer .tags {
  margin-bottom: .2em;
  display: flex;
}
.questionStream .questionContainer .header {
  margin-top: .3em;
  display: flex;
  justify-content: space-between;
}
.questionStream .questionContainer .header .text {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}
.questionStream .questionContainer .header .text:hover .title {
  text-decoration: underline;
}
.questionStream .questionContainer .header .d-time {
  margin-left: 1em;
}
.questionStream .questionContainer .header .belowTitle {
  display: flex;
  flex-direction: row;
  color: grey;
  justify-content: space-between;
  font-size: .8em;
}
.questionStream .questionContainer .header .belowTitle a {
  border-radius: .1em;
  color: grey;
  margin: 0 .4em;
}
.questionStream ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.questionStream .pagerContainer {
  margin-top: 1em;
}
.questionStream .pagerContainer a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.loginPage {
  margin: .5em;
  background: white;
  padding: .5em;
  flex-grow: 10;
  display: flex;
}
.loginPage .header {
  font-size: 1.2em;
  background: #f6f6f6;
  border-radius: .2em;
  padding: .5em;
  margin: .5em;
}
.loginPage .loginContainer {
  padding: 2em;
  padding-top: .5em;
  flex-grow: 4;
  justify-content: center;
  border-right: grey solid 1px;
}
.loginPage .loginContainer .failed {
  color: red;
}
.loginPage .loginContainer form {
  font-size: .8em;
  max-width: 25em;
}
.loginPage .loginContainer form input {
  margin-bottom: 1em;
  padding: .3em;
}
.loginPage .loginContainer form button {
  cursor: pointer;
}
.loginPage .loginContainer form .loginFormContainer {
  justify-content: center;
}
.loginPage .createContainer {
  padding: 2em;
  padding-top: .5em;
  justify-content: center;
  flex-grow: 4;
}
.loginPage .createContainer .failed {
  color: red;
}
.loginPage .createContainer form {
  font-size: .8em;
  max-width: 25em;
}
.loginPage .createContainer form input {
  margin-bottom: 1em;
  padding: .3em;
}
.loginPage .createContainer form button {
  cursor: pointer;
}
.loginPage .createContainer form .loginFormContainer {
  justify-content: center;
}

#aboutFrame {
  display: flex;
  flex-direction: column;
  margin: 1em 1em;
  background: white;
  border-radius: .2em;
  padding: 1em;
}
#aboutFrame #inAbout {
  margin-bottom: .4em;
}
#aboutFrame img {
  border-radius: .4em;
}

@media (pointer: coarse) {
  .optionsBox {
    display: none !important;
  }
}
.discover {
  margin: 0.4em;
  background: white;
  padding: .4em;
  flex-grow: 2;
}
.discover .error {
  border-radius: 5px;
  padding: 10px;
  transition: all 1s ease-in-out;
  background-color: #fff;
  color: #000;
}
.discover .error.ng-hide {
  background-color: #f00;
  color: #fff;
}

body {
  font-family: 'Arvo', sans-serif;
  background: #e0dfdf;
  margin: 0;
  font-size: 15px;
}

@media (pointer: coarse) {
  body {
    font-size: 4vw !important;
  }

  .content {
    margin-top: 9em !important;
  }
}
h4 {
  margin-top: .2em;
  margin-bottom: .2em;
}

p {
  font-size: .8em;
}

input {
  border: none;
  margin: none;
  padding-left: .1em;
  font-size: 1em;
  border-radius: 2px;
  border: .5px solid grey;
}

textarea {
  border: none;
  margin: none;
  padding-left: 5px;
  font-size: 1em;
  border-radius: 2px;
  border: .5px solid grey;
}

button {
  border: none;
  margin: none;
  font-size: .8em;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  padding: .6em;
  color: black;
  text-align: center;
  justify-content: center;
  border-radius: 2px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer !important;
}

textarea {
  border: 1px;
  margin: 20px;
  border-radius: 2px;
  padding: 10px;
  resize: vertical;
  border: .5px solid black;
}

form {
  border-radius: 2px;
  width: auto;
  padding: 3px;
}

.content {
  margin-top: 6.4em;
  display: flex;
  flex-direction: column;
}

.back {
  background: #f6f6f6;
  border-radius: .2em;
  padding: 1em;
  margin-bottom: 1em;
}
.back .click-area {
  cursor: pointer !important;
}

.detailText {
  color: grey;
  font-size: 0.8em;
}

.contentBigHead {
  margin-top: 9em !important;
}

.optionsBox {
  padding: .4em;
}
.optionsBox a {
  color: #52acde;
  margin-left: .5em;
  margin-right: .5em;
  text-decoration: none;
}
.optionsBox .divider {
  width: 1px;
  background: grey;
}

.tag {
  font-size: .8em;
  cursor: pointer !important;
  border-radius: .8em;
  margin-right: .5em;
  padding: .2em;
  padding-right: 1em;
  padding-left: 1em;
  background: rgba(43, 182, 233, 0.11);
  align-self: center;
  color: grey;
}

.tag:hover {
  background: rgba(16, 120, 158, 0.11);
}

.submitButton {
  border: 0.5px solid #36ba53;
  background-color: #fff;
  transition: background-color .3s;
}

.submitButton:hover {
  background-color: #ccc;
}

.submitButton:active {
  background-color: #999;
}

.infoButton {
  text-align: center;
  color: #36bb33;
  padding: .2em .4em .2em;
}

.doButton {
  text-align: center;
  background: #52acde;
  padding: .6em;
  border-radius: .4em;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 0.2em 0.2em rgba(167, 165, 165, 0.45);
}

.doButton:hover {
  background: rgba(29, 81, 110, 0.46);
  transition: 100ms;
}

.lightEmphasisButton {
  border-bottom: .5px solid lightgrey;
}

.plainBoarderedButton {
  border: .5px solid black;
}

.editButton {
  padding: .2em;
  margin: 0 .5em;
  text-decoration: none;
}

/*# sourceMappingURL=mainScss.css.map */
