#aboutFrame {
  display: flex;
  flex-direction: column;
  margin: 1em 1em;
  background: white;
  border-radius: .2em;
  padding: 1em;
  #inAbout {
    margin-bottom: .4em;
  }
  img {
    border-radius: .4em;
  }
}
