.account {
  margin: 20px;
  display: flex;

  .accountStats {
    padding: 10px;
    display: flex;
    flex-flow: column;
    .subheader {
      .contentTitle {
        // font-size: 2em;
      }
      .details {
        display: flex;
        align-items: center;
        font-size: .6em;
        color: grey;
      }
    }
    .container-row {
      p {
        margin-right: 5px;
      }
    }
  }
}
