.account {
  margin: .5em;
  display: flex;
  background: white;
  padding: .5em;
  .back {
    display: flex;
    flex-direction: row;
    .name {
      display: flex;
      flex-direction: row;
      font-size: 1.2em;
    }
  }
  .noUser {
    align-items: center;
    justify-content: center;

  }
  .accountStats {
    padding: 10px;
    display: flex;
    flex-flow: column;
    .subheader {
      .contentTitle {
        // font-size: 2em;
      }
      .details {
        display: flex;
        align-items: center;
        font-size: .6em;
        color: grey;
      }
    }
    .row {
      p {
        margin-right: 5px;
      }
    }
    .responses {
      .response{
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
        padding: .25em;
        border: 1px solid lightgrey;
        border-radius: .2em;
            .header {
              .text {
                color: black;
                font-size: .8em;
              }
              .details {
                font-size: .6em;
                color: grey;
                margin-left: 1em;
              }
            }
            .subHeader {
              a {
                font-size: .6em;
                color: grey;
              }
              .details {
                font-size: .6em;
                color: grey;
              }
            }
      }
    }
  }
}
