.addResponse {
  padding: 1rem;
  padding-top: 0;
  .noInput{
    border: none !important;
    pointer-events:none;
  }
    .bigTitle {
      border-bottom-width: $BUTTON-BORDER-SIZE;
      border-bottom-color: $BUTTON-BORDER-COLOR;
      border-bottom-style: $BUTTON-BORDER-STYLE;
        .alertField{
          border-color: red;
        }
        input {
            min-height: 3vh;
            @extend BUTTON-BORDER;
        }
        button{
          margin-left: 1rem;
        }
    }
    .note {
        color: lightgrey;
        font-size: 0.6em;
        margin-bottom: 1em;
    }
    .modules {
        display: flex;
        flex-direction: column;

        .moduleTitles {
            display: flex;
            flex-direction: row;
            input {
                @extend BUTTON-BORDER;
                min-height: 3vh;
                flex-grow: 1;
            }
            button{
              margin-left: 1rem;
            }
        }

        .moduleResponses {
            display: flex;
            flex-direction: row;
            // flex-grow: 7;
            textarea {
                @extend BUTTON-BORDER;
                flex-grow: 10;
                min-height: 8vh;
                margin-right: 0;
            }
        }
    }

    .submitResponse {
      opacity: 0;
      justify-content: center;
        display: flex;
        flex-direction: row;

        button {
            min-height: 2em;
        }
    }

    ol {
        li {
            display: list-item;
            font-size: 12px;
            list-style-type: disc;
        }
    }

}
