.addResponse {
    margin-left: 3em;
    margin-right: 3em;
    .question{
      border-bottom:1px solid black;
      margin-bottom: 1em;
    }
    .bigTitle {
      border-bottom:1px solid grey;
        input {
            min-height: 3vh;
        }

        .addModule {
            background: rgba(45, 191, 169, 0.22);
        }
    }
    .note {
        color: lightgrey;
        font-size: 0.6em;
        margin-bottom: 1em;
    }

    .modules {
        display: flex;
        flex-direction: column;

        .moduleTitles {
            display: flex;
            flex-direction: row;
            input {
                min-height: 3vh;
                flex-grow: 10;
                margin-left: 20px;
            }
        }

        .moduleResponses {
            display: flex;
            flex-direction: row;
            // flex-grow: 7;
            textarea {
                flex-grow: 10;
                min-height: 8vh;
            }
        }
    }

    .submitResponse {
        display: flex;
        flex-direction: row;

        button {
            min-height: 2em;
        }
    }

    ol {
        li {
            display: list-item;
            font-size: 12px;
            list-style-type: disc;
        }
    }
}
