.askQuestionPage {
  display: flex;
  align-items: center;
  justify-content: center;
  .askQuestion {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    background: $backgroundHighlight;
    border-radius: .2em;
    flex-grow: 10;
    padding: 1em;
    input {
      padding: 1em;
      min-width: 30em;
    }
    textarea {
      padding: 1em;
      min-width: 30em;
    }
    button {
      margin-top: 1em;
    }
  }

}
