.askQuestionContainer {
  display: flex;
  // position: fixed;
  // background: lighten($secondaryColor, 20%);
  width: 100%;
  flex-direction: column;
  margin: 0;
  text-align: center;
  align-items: center;
  h2 {
    flex-grow: 1;
  }
  button {
    flex-grow: 1;
    margin: 10px;
    min-width: 10%;
  }
  input {
    flex-grow: 6;
    padding: 10px;
    min-width: 50%;
  }
  textarea {
    flex-grow: 6;
    padding: 10px;
    min-width: 50%;
  }
}
