@media(pointer:coarse) {
    .askQuestionPage {
      .askQuestion {
        input {
          min-width: 20em!important;
        }
        textarea {
          min-width: 20em!important;
        }
      }
    }
}
.askQuestionPage {
  display: flex;
  justify-content: center;
  padding: 2em;
  margin: .5em;
  background: white;
  .header {
    margin: .5em;
    // background: rgb(246, 246, 246);
    padding: .5em;
    // font-family: 'Lato', sans-serif;
    font-size: 1.4em;
  }
  .askQuestion {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: .2em;
    flex-grow: 1;
    input {
      padding: 1em;
      flex-grow: 1;
      min-width: 30em;
    }
    textarea {
      padding: 1em;
      flex-grow: 1;
      min-width: 30em;
    }
    button {
      margin-top: 1em;
    }
    .delete-button {
      color: red;
    }
  }

}
