// Fancy banner, gets smaller when scroll, contians site icon
@media(pointer:coarse) {
    .logOptions {
        display: none;
    }
}

.banner {
    color: black;
    // background: $COLOR-AUX;
    transition: max-height 1s;
    overflow: hidden;
    margin: 0 2rem;
    .agoraDude {
        top: 1rem;
        width: 4.4rem;
        height: 7rem;
    }
    .centeredPouch {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Amatic SC', sans-serif;
    }
    .pouch {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      height: 3rem;
      align-items: center;
      border-radius: 4rem;
      border: .3em solid white;
      padding:  0 .6em;
    }

    .title {
        font-size: 3em;
        text-decoration: none;
    }
    .logOptions {
        font-size: 1.2em;
        align-self: center;
    }

    a {
        color: black;
    }

    .about {
        font-size: 1.8em;
    }
}
.smallHead {
    max-height: 3em;
    font-size: 1.2em;

    .centeredPouch {
        // padding: .2em !important;

        .about {
            opacity: 0;
            display: none;
        }

        .title {
            font-size: 2.4em;
        }
    }
}
