@media(pointer:coarse) {
    .optionsBox {
      display: none !important;
    }
}
.discover {
  margin: .40em ;
  background: white;
  padding: .4em;
  flex-grow: 2;
  .pagerContainer{
    margin-top: .2rem;
    a{
      padding: .5rem;
    }
  }
}
