.loginPage {
  display: flex;
  flex-direction: row;
  .verticalLine {
  }
  @media (pointer:coarse) {

      img {
        display: none;
      }
      form {
        input {
          font-size: 5vw;
        }
        button {
          font-size: 3vw;
        }
        label {
        }
      }
  }
  .loginContainer {
      padding: 2em;
      margin: 3em;
      flex-grow: 4;
      border-right: grey solid 1px;
      .failed {
        color: red;
      }
      form {
        font-size: .8em;
        max-width: 25em;
        input {
          margin-bottom: 1em;
          padding: .3em;
        }
        button {
        }
        label {
          // margin: 10px;
        }
        .loginFormContainer{
          justify-content: center;
        }
      }
  }
}
