.loginPage {
  margin: .5em;
  background: white;
  padding: .5em;
  flex-grow: 10;
  display: flex;
  @media (pointer:coarse) {
    // none
  }
  .submitButton{
    border: .5px solid rgb(54, 186, 83);
  }
  .header {
    font-size: 1.2em;
    // background: rgb(246, 246, 246);
    border-radius: .2em;
    padding: .5em;
    margin: .5em;
  }
  .loginContainer {
      padding: 2em;
      padding-top: .5em;
      flex-grow: 4;
      justify-content: center;
      border-right: grey solid 1px;
      .failed {
        color: red;
      }
      form {
        font-size: .8em;
        max-width: 25em;
        input {
          margin-bottom: 1em;
          padding: .3em;
        }
        button {
          cursor: pointer;
        }


        label {
          // margin: 10px;
        }
        .loginFormContainer{
          justify-content: center;
        }
      }
  }
  .createContainer {
      padding: 2em;
      padding-top: .5em;
      justify-content: center;
      flex-grow: 4;
      .failed {
        color: red;
      }
      form {
        font-size: .8em;
        max-width: 25em;
        input {
          margin-bottom: 1em;
          padding: .3em;
        }
        button {
          cursor: pointer;
        }

        label {
          // margin: 10px;
        }
        .loginFormContainer{
          justify-content: center;
        }
      }
  }
}
