$background: rgb(224, 223, 223);
$primaryColor: #db3a3a;
$secondaryColor: rgb(152, 233, 89);
$infoBackground: rgb(255, 255, 255);
$navbarColor: $secondaryColor;
$standardBorderRadius: 2px;
$singleInputFormHeight: 20px;
@import "search";
@import "question";
@import "tags";
@import "banner";
@import "addResponse";
@import "responses";
@import "util";
@import "account";
@import "sidebar";
@import "navBar";
@import "ask";
@import "questionStream";
@import "login";
@import "about";
@import "discover";
//until functional
.sidebar {
  // display: none;
}
body {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Arvo', sans-serif;
    background: $background;
    margin: 0;
    font-size: 15px;
    // display: flex;
    // flex-direction: column;
}
@media(pointer:coarse) {
    body {
      font-size: 4vw!important;
    }
    .content {
      margin-top: 9em!important;
    }
}
h4 {
  margin-top: .2em;
  margin-bottom: .2em;
}
p{
  font-size: .8em;
}
input {
  padding-left: .4em;
  font-size: 1em;
  border-radius: $standardBorderRadius;
  border: .5px solid grey;
  font-family: 'open sans', sans-serif;
}
textarea {
  margin: 20px;
  border-radius: $standardBorderRadius;
  resize: vertical;
  font-size: 1em;
  border: .5px solid grey;
  font-family: 'open sans', sans-serif;
}
button {
  border: none;
  margin: none;
  font-size: .8em;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  padding: .6em;
  color: black;
  text-align: center;
  justify-content: center;
  border-radius: $standardBorderRadius;
}
label {
  // font-size: .8em;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer !important;
}

form {
    border-radius: $standardBorderRadius;
    width: auto;
    padding: 3px;
}
.content {
  margin-top: 6.4em;
  display: flex;
  flex-direction: column;
  // transition: margin-top 90ms;
}
.back {
  // font-size: 1em;
  background: rgb(246, 246, 246);
  border-radius: .2em;
  padding: 1em;
  margin-bottom: 1em;
  .click-area {
    cursor: pointer !important;
  }
}
.detailText {
  color: grey;
  font-size: 0.8em;
}
.contentBigHead {
  margin-top: 9em !important;
}
.optionsBox {
  padding: .4em;
  a {
    color: rgba(82, 172, 222, 1);
    margin-left: .5em;
    margin-right: .5em;
    text-decoration: none;
  }
  .divider {
    width: 1px;
    background: grey;
  }
}
.tag{
  // font-family: 'Arvo', sans-serif;
  font-size: .8em;
  cursor: pointer !important;
  border-radius: .8em;
  margin-right: .5em;
  padding: .2em;
  padding-right: 1em;
  padding-left: 1em;
  background: rgba(43, 182, 233, 0.11);
  align-self: center;
  color: grey;
}
.tag:hover {
  background: darken(rgba(43, 182, 233, 0.11), 20%);
}
.submitButton{
  border: .5px solid rgb(54, 186, 83);
  background-color: #fff;
  transition: background-color .3s;
}
.submitButton:hover{
  background-color: #ccc;
}
.submitButton:active{
  background-color: #999;
}
.infoButton {
  text-align: center;
  color: rgba(54, 187, 51, 1);
  padding: .2em .4em .2em;
}
.doButton {
  text-align: center;
  background: rgba(82, 172, 222, 1);
  padding: .6em;
  border-radius: .4em;
  text-decoration: none;
  color: white;
  // border: .14em solid grey;
  box-shadow: 0 0 .2em .2em rgba(167, 165, 165, 0.45);

}
.doButton:hover {
  // color: grey;
  background: darken(rgba(50, 140, 191, 0.46), 20%);
  transition: 100ms;
}
.lightEmphasisButton {
  border-bottom: .5px solid lightgrey;
}
.plainBoarderedButton {
  border: .5px solid black;
}
.editButton {
  // background: rgba(255, 0, 0, 0.62);
  // border-radius: 1em;
  padding: .2em;
  margin: 0 .5em;
  text-decoration: none;
  // color: black;
}
