$background: white;
$primaryColor: #a0d0d0;
$secondaryColor: #00897b;
$navbarColor: rgb(73, 77, 72);
$standardBorderRadius: 3px;
$singleInputFormHeight: 20px;
// asfd/
@import "util";
@import "navBar";
@import "ask";
@import "questionStream";
@import "login";
@import "advancedSearch";
body {
    font-family: 'font-awesome', sans-serif;
    background: $background;
    margin: 0;
}
input {
  border: none;
  margin: none;
  border-radius: $standardBorderRadius;
  text-align: center;
  box-shadow: 0px 2px 0px #111;
  border: .5px solid black;
}
button {
  border: none;
  margin: none;
  text-decoration: none;
  background-color: $secondaryColor;
  display: block;
  color: #FFF;
  text-align: center;
  border-radius: $standardBorderRadius;
  // padding:  3px;
  box-shadow: 0px 2px 0px #111;
  border: .5px solid black;
}
textarea {
  border: 1px ;
  margin: 20px;
  border-radius: $standardBorderRadius;
  padding:  10px;
  resize: vertical;
  border: .5px solid black;
}
form {
    border-radius: $standardBorderRadius;
    width: auto;
    padding: 3px;
}
.questionStream {
  margin: 10px;
  padding: 10px;
}
