$background: lightgrey;
$primaryColor: #db3a3a;
$secondaryColor: rgba(#64d3fb, 1);
$backgroundHighlight: rgb(246, 246, 246);
// $navbarColor: rgb(73, 77, 72);
$navbarColor: $secondaryColor;
$standardBorderRadius: 2px;
$singleInputFormHeight: 20px;
@import "search";
@import "question";
@import "tags";
@import "banner";
@import "addResponse";
@import "responses";
@import "util";
@import "account";
@import "sidebar";
@import "navBar";
@import "ask";
@import "questionStream";
@import "login";
@import "about";
//until functional
.sidebar {
  display: none;
}

@media(pointer:coarse) {
    .sidebar {
      display: none;
    }
    body {
      font-size: 3vw;
    }
    .questionStream {
        ul {
            li {
                .questionTitle {
                    font-size: 4vw;
                }
            }
        }
    }
}
@media(max-width: 800px) {
    .sidebar {
      display: none;
    }
}
.content {
  margin-top: 5em;
  // transition: margin-top 90ms;
}
.back {
  font-size: .7em;
  background: rgb(246, 246, 246);
  border-radius: .2em;
  padding: 1em;
  margin-bottom: 1em;
  .click-area {
    cursor: pointer !important;
  }
}
.detailText {
  color: grey;
  font-size: 0.6em;
}
.contentBigHead {
  margin-top: 12em !important;
  // transition: margin-top 90ms;
}
h4 {
  margin-top: .2em;
  margin-bottom: .2em;
}
p{
  font-size: .8em;
}
body {
    font-family: 'PT sans', sans-serif;
    background: $background;
    margin: 0;
    font-size: 20px;
    // display: flex;
    // flex-direction: column;
}
input {
  border: none;
  margin: none;
  min-height: 2vh;
  padding-left: 5px;
  border-radius: $standardBorderRadius;
  // text-align: center;
  border: .5px solid black;
}
button {
  border: none;
  margin: none;
  min-height: 2em;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  color: black;
  text-align: center;
  border-radius: $standardBorderRadius;
}
.submitButton {
  border: .5px solid rgb(54, 186, 83);
}
.infoButton {
  // border: .5px solid rgba(159, 38, 209, 0.22);
  background: rgba(45, 191, 169, 0.22);
  padding: 2px 6px 3px;
}
.doButton {
  border: .5px solid rgba(50, 140, 191, 0.46);
}
.lightEmphasisButton {
  border-bottom: .5px solid lightgrey;
}
.plainBoarderedButton {
  border: .5px solid black;
}
.editButton {
  background: rgba(255, 0, 0, 0.62);
  border-radius: $standardBorderRadius;
  padding: .2em .5em .2em .5em;
  margin: 0 .5em 0 .5em;
  text-decoration: none;
  color: black;
  font-size: .7em;
}
button:focus {
  outline: none;
}
button:hover {
  background: rgba(223, 170, 35, 0.05);
  cursor: pointer;
}
a:hover {
  // background: rgba(223, 170, 35, 0.05);
  cursor: pointer !important;
}
textarea {
  border: 1px ;
  margin: 20px;
  border-radius: $standardBorderRadius;
  padding:  10px;
  resize: vertical;
  border: .5px solid black;
}
form {
    border-radius: $standardBorderRadius;
    width: auto;
    padding: 3px;
}
.questionStream {
  margin: 10px;
  padding: 10px;
}
