//Constants, Put reusable vars in there.
@import "constants";

@import "search";
@import "question_full";
@import "tags";
@import "banner";
@import "add_response";
@import "util";
@import "user";
@import "sidebar";
@import "nav_bar";
@import "ask";
@import "questionStream";
@import "login";
@import "about";
@import "discover";
@import "main_buttons";

//Global things go here

body {
  font-family: helvetica, 'Arvo', sans-serif;
  letter-spacing: .02em;
  margin: 0;
  font-size: 15px;
}
@media(pointer:coarse) {
    body {
      font-size: 4vw!important;
    }
    .content {
      margin-top: 9em!important;
    }
    .sidebar {
      display: none;
    }
}
h4 {
  margin-top: .2em;
  margin-bottom: .2em;
}
p{
  font-size: .8em;
}
input {
  padding-left: .4rem;
  font-size: 1rem;
  border-radius: $SBR;
  border: .5px solid grey;
  font-family: 'open sans', sans-serif;
}
textarea {
  border-radius: $SBR;
  resize: vertical;
  font-size: 1em;
  border: .5px solid grey;
  font-family: 'open sans', sans-serif;
}
button {
  border: none;
  margin: none;
  font-size: .8rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  padding: .6rem;
  color: black;
  text-align: center;
  justify-content: center;
  border-radius: $SBR;
}
label {
  // font-size: .8em;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer !important;
}

form {
    border-radius: $SBR;
    width: auto;
    padding: .2rem;
}
.content {
  margin-top: 3.8rem;
  display: flex;
  flex-direction: column;
  transition: margin-top 90ms;
}
.detailText {
  color: grey;
  font-size: 0.8em;
}
.contentBigHead {
  margin-top: 9em !important;
}
.tag{
  // font-family: 'Arvo', sans-serif;
  font-size: .8em;
  cursor: pointer !important;
  border-radius: .8em;
  margin-right: .5em;
  padding: .2em;
  padding-right: 1em;
  padding-left: 1em;
  // background: rgba(43, 182, 233, 0.11);
  align-self: center;
  color: grey;
}


//William: Writing a bunch of parts.
.error{
  border-radius: 5px;
  padding: 10px;
  transition: all 1s ease-in-out;
  background-color: $COLOR-ERROR-BG-AFTER;
  color: $COLOR-ERROR-TEXT-AFTER;
}
.error.ng-hide{
  background-color: $COLOR-ERROR-BG-BEFORE;
  color: $COLOR-ERROR-TEXT-BEFORE;
}
EXPAND{
  width: 100% !important;
}
CONTRACT{
  width: auto !important;
}
