
// Everything you need to know bout.... Buttons!!!
// These buttons are buttons used on multiple pages...
// Specific buttons should be located on their parent page
// This page was created because main.scss was filled with buttons

//Main button class
.whiteButton.pressed{
  background-color: darken($BUTTON-COLOR, 20%);
}
.whiteButton{
  color: $BLACK-MED;
  transition: background-color $BUTTON-TIME ease;
  background-color: $BUTTON-COLOR;
  border-radius: .1rem;
  border-color: $BUTTON-BORDER-COLOR;
  border-width: $BUTTON-BORDER-SIZE;
  border-style: $BUTTON-BORDER-STYLE;
  text-decoration: none;
  &:hover{
    background-color: darken($BUTTON-COLOR, 10%);
  }
  &:active{
    background-color: darken($BUTTON-COLOR, 20%);
  }
}
//Used to define the border around a lot inputs and buttons.
BUTTON-BORDER{
  border-color: $BUTTON-BORDER-COLOR;
  border-width: $BUTTON-BORDER-SIZE;
  border-style: $BUTTON-BORDER-STYLE;
}
.selected {
  background-color: lighten($LIGHT-HUE, 85%);
}
.buttonExpandDown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  $margin: .2rem;
  padding: .2rem;
  min-height: $QUESTION-HEIGHT;
  min-width: 2rem;
  height: 100%;
  color: $LIGHT-HUE;
  transition: all $BUTTON-TIME;
  border-radius: .1rem;
  .description{
    justify-content: center;
    align-self: center;
    transition: all .2s ease;
    text-decoration: none !important;
    font-size: 0;
    margin: 0;
    white-space: nowrap;
  }
  i{
    font-size: 1.4rem;
    margin-left: .2rem;
    margin-right: .2rem;
  }
  &:hover{
    @extend .selected;
    .description{
      font-size: .8rem;
      margin: $margin/4;
    }
    padding-left: 1em;
  }
}
.buttonExpandHorizontal{
  @extend .buttonExpandDown;
  @extend .whiteButton;
  border-radius: 4rem;
  flex-direction: row;
  flex-shrink: 1;
  min-height: 1.4rem !important;
  min-width: 1.4rem !important;
}

//Round buttons for tag like things.
$SMALL-SIZE: .7rem;
.roundButton{
  $s:$SMALL-SIZE;
  @extend .whiteButton;
  height: $s;
  font-size: $s;
  line-height: $s;
  border-radius: $s;
  vertical-align: middle;
}
//Circular buttons for icons
$MEDIUM-SIZE: 2rem;
.circleButton{
  $s:$MEDIUM-SIZE;
  @extend .whiteButton;
  font-size:$s/2;
  height:$s;
  width:$s;
  border-radius:$s/2;
  *{
    opacity: $PRIORITY-MED;
    width: $s/2;
    height: $s/2;
    margin-top: $s/4;
    margin-left: $s/4;
    text-align: center;
    vertical-align: middle;
  }
}
.sideButton{
  text-align: center;
  width: $MARGIN-GENERAL;
  display: flex;
  flex-direction: column;
  transition: background-color, $BUTTON-TIME;
  &:hover{
    background-color: $BLACK-LOWEST;
  }
  &>div{
    flex-grow: 1;
  }
  &>i{
    flex-grow: 0;
  }
}
.editButton {
  @extend .whiteButton;
  display: table;
}
