$navbarHeight: 30px;
$navbarHeightMobile: 20vh;
@import 'https://fonts.googleapis.com/css?family=Amatic+SC:700';
@media(pointer:coarse) {
    .site-header {

        display: flex;
        flex-direction: column;
        min-height: 20vh;
        nav {
          margin: 1vw;
        }
        form {
          margin: 1vw;
        }
        div {
          margin: 1vw;
        }
        .mobile-Hidden {
          display: none;
        }
        form {
          height: 5vh !important;
          font-size: 2vw !important;

          input{
            font-size: 3vw !important;
            padding-left: 2vw !important;
            width: 70vw !important;
          }
          button {
            font-size: 3vw !important;
            width: 10vw !important;
          }
        }
    }
    header {
      font-size: 13px;
      ul {
        li {

        }
      }
      a {
        font-size: 3vw;
        margin: 5px;
        padding: 5px;
      }
      form {
        input{
        }
        button {
        }
      }
      button {
        font-size: 2vw;
      }
    }
}
.siteBanner {
  z-index: -999;
  // position: absolute;
  color: black;
  background: lighten($secondaryColor, 20%);
  // transition: height .5s;
  // transition: max-height 1s;
  // transition: 1s linear;
  transition: max-height 1s ;
  overflow: hidden;
  max-height: 12em;
  .agoraDude {
    width: 70px;
    height: 110px;
  }
  .centeredPouch {
    padding: 20px;
    font-family: 'Amatic SC', cursive;
  }
  .title {
    font-size: 100px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .about {
    font-size: 20px;
  }
}
.smallHead {
  max-height: 3em;
  // transition: max-height 1s;
  // opacity: 0;
  .centeredPouch {
    padding: 2px !important;
    .about {
      opacity: 0;
      display: none;
    }
    .title {
      font-size: 2.75em;
    }
  }
}
.management {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 3px 3px 3px 2px rgba(#b6b6b6, 0.45);
}
header {
  transition: height 0.3s;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  form {
    display: inline-flex;
    width: auto;
    padding: 3px;
    height: 20px;
    input{
      border-radius: $standardBorderRadius 0px 0px $standardBorderRadius;
      flex-grow: 10;
    }
    button {
      border-radius: 0px $standardBorderRadius $standardBorderRadius 0px;
      font-size: 11px;
      flex-grow: 1;
    }
  }
  button {
    font-size: 13px;
  }
}
.site-header {
    min-height: $navbarHeight;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    // padding-right: 10px;
}
.site-nav {
    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    a {
        flex-grow: 5;
        text-decoration: none;
        color: black !important;
        padding: .5em;
        padding-top: .5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        border-right: thin solid rgba(#000000, 0.2);
        height: calc($navbarHeight - 20px);
        display: inline;
    }
    .active {
        a {
          // background: darken($secondaryColor, 10%);;
          color: rgb(34, 142, 230) !important;
        }
    }
}
.account-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.account-dropdown:hover {
  ul {
    display: flex;
    flex-direction: column;
  }
}
