$navbarHeight: 30px;
$navbarHeightMobile: 20vh;
@import 'https://fonts.googleapis.com/css?family=Amatic+SC:700';
@media(pointer:coarse) {
}
.management {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 3px 3px 3px 2px rgba(#b6b6b6, 0.45);
  z-index: 10;
}
header {
  transition: height 0.3s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  form {
    padding: .2em;
    display: flex;
    flex-direction: column;
    min-height: 2em;
    input{
      border-radius: $standardBorderRadius 0px 0px $standardBorderRadius;
      flex-grow: 10;
      min-height: 2em;
    }
    button {
      position: absolute;
      background: rgba(255, 255, 255, 0);
      color: black;
      z-index: 11;
      bottom: .2em;
      right: 1em;
      border-radius: 0px $standardBorderRadius $standardBorderRadius 0px;
    }
  }
  button {
    font-size: 1em;
  }
  .active {
      a {
        color: rgb(34, 142, 230) !important;
      }
  }

  .site-nav {
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          flex-direction: row;
          a {
              flex-grow: 5;
              text-decoration: none;
              color: black !important;
              padding: .5em;
              padding-top: .5em;
              justify-content: center;
              height: calc($navbarHeight - 20px);
              display: inline;
              margin-left: .2em;
          }
          a:hover {
            background: rgb(224, 224, 224)!important;
            border-radius: .2em;
          }
        }
    }
  }
}
.site-header {
    min-height: $navbarHeight;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    // padding-right: 10px;
}
.account-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 1em;
}
.account-dropdown:hover {
  ul {
    display: flex;
    flex-direction: column;
  }
}
