//re-used for account page, which is why this scss is not contained in Discover.scss

$listBackgroundColor: rgb(255, 255, 255);
$phoneButtonSize: 20vw;
$phoneButtonHeight: 15vw;
@media(pointer:coarse) {
  //for mobile
}
.questionSubHeader {
  width: 100%;
}
.orderContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    button {
        margin-left: 5px;
    }
}
.questionStream {
  flex-grow: 10;
  ul{
    margin: 0;
    li {
<<<<<<< HEAD
=======
      transition: background-color, $BUTTON-TIME;
>>>>>>> origin/master
      border-top: .1em solid lightgrey;
    }
  }
  .darkenQuestion{
    background-color: darken($BUTTON-COLOR, 10%) !important;
  }
    .questionContainer {
      padding-top: .4em;
      margin-left: .75rem;
      margin-right: 1rem;
      margin-bottom: .4em;
      display: flex;
      flex-direction: column;
      font-size: .9em;
      .d-time{
        opacity:.6;
        a{
          color: black;
        }
      }
      .tags {
        margin-bottom: .2em;
        display: flex;
      }
      .header {
        margin-top: .3em;
        display: flex;
        justify-content: space-between;
        .text {
          color: black;
          text-decoration: none;
          font-size: 1.2em;
        }
        .title{
            padding-left: 1rem;
        }
        .text:hover {
          .title {
            text-decoration: underline;
            text-decoration-color: $BLACK-LOW;
            text-decoration-style:dotted;
          }

        }
        .d-time {
          margin-left: 1em; // I think this line is beging ignored. - William
        }
        .belowTitle {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          a {
            margin: 0;
            border-radius: .1em;
          }
        }
      }
    }
    ul {
        margin-top: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .pagerContainer {
      margin-top: 1em;
        a {
            margin-left: 10px;
            text-decoration: none;
            color: black;
            padding: 10px;
            opacity: .75;
        }
    }

}
