//re-used for account page, which is why this scss is not contained in Discover.scss
@media(pointer:coarse) {
    //for mobile
}
$QUESTION-HEIGHT: 3rem;
$PADDING: 2rem;
$HUE: $BLACK-MED;
$LIGHT-HUE: $BLACK-LOW;
.questionStream {
    ul{
      list-style-type: none;
      .selected {
        background-color: lighten($LIGHT-HUE, 75%);
      }
      li{
        transition: all $BUTTON-TIME;
        border-top-style: $BUTTON-BORDER-STYLE;
        border-top-width: $BUTTON-BORDER-SIZE;
        border-top-color: $BUTTON-BORDER-COLOR;
        display: flex;
        min-height: $QUESTION-HEIGHT;
        align-items: center;
        color: $HUE;
        padding-right: $PADDING;
        .unOwned{
          padding-left: $PADDING;
        }
        a{
          color: inherit;
          text-decoration: inherit;
        }
        .button-edit{
          justify-content: center;
          align-items: center;
          width: $PADDING;
          min-height: $QUESTION-HEIGHT;
          height: 100%;
          display: flex;
          flex-direction: column;
          color: $LIGHT-HUE;
          transition: all $BUTTON-TIME;
          &:hover{
            @extend .selected;
          }
          &>div{
            flex-grow: 1;
          }
        }
        .container-question{
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .text-detail{
            font-size: .75rem;
            color: $LIGHT-HUE;
          }
          .text-title{
            font-size: 1rem;
          }
        }
      }
    }
}
