$listBackgroundColor: rgb(255, 255, 255);
$phoneButtonSize: 20vw;
$phoneButtonHeight: 15vw;
@media(pointer:coarse) {
    .questionStream {
        ul {
            li {
                .questionTitle {

                }
            }
        }
        .pagerContainer {
            button {
                margin-left: 10px;
                width: 20vw;
                height: 5vw;
                font-size: 3vw;
            }
        }
    }
}
.questionSubHeader {
  width: 100%;
  // background: lighten($secondaryColor, 20%);
}
.orderContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    button {
        margin-left: 5px;
    }
}
.activeQuestion {
    // padding-top: 15px;
    // background: lighten($secondaryColor, 45%);
    border-top-right-radius: $standardBorderRadius;
    border-top-left-radius: $standardBorderRadius;
}
.responsesContainer {
    border-top: 1px solid lightgrey;
    background-color: rgba(255, 255, 255, 1);
    margin: 15px;
}
.responsesContainer.ng-enter,
.responsesContainer.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.15s;
}
.responsesContainer.ng-enter,
.responsesContainer.ng-leave.ng-leave-active {
    opacity: 0;
}
.responsesContainer.ng-enter.ng-enter-active,
.responsesContainer.ng-leave {
    opacity: 1;
}
.questionStream {
    .questionContainer {
      border-top: 1px solid lightgrey;
    }
    .questionContainerActive {
      // border: 1px solid black;
      box-shadow: 3px 3px 3px 2px rgba(#b6b6b6, 0.45);
      border-radius: $standardBorderRadius;
      z-index: 2;
    }
    ul {
        //kill random padding
        padding-left: 0;
        //contiue
        list-style: none;
        display: flex;
        flex-direction: column;
        li {
            display: flex;
            flex-direction: column;
            .questionTitle {
                border: none;
                padding: 15px;
                background: rgba(255, 255, 255, 1);
                color: black;
                display: flex;;
                flex-direction: column;
                text-align: left;
                border-radius: 0;
                padding: 1;
                box-shadow: none;
                font-size: 1rem;
                flex-grow: 1;
            }
        }
    }
    .pagerContainer {
        button {
            margin-left: 10px;
        }
    }
}
