//re-used for account page, which is why this scss is not contained in Discover.scss
@media(pointer:coarse) {
    //for mobile
}
$QUESTION-HEIGHT: 3rem;
$PADDING: 2rem;
$HUE: $BLACK-MED;
$LIGHT-HUE: $BLACK-LOW;
.questionStream {
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      border-bottom: $BUTTON-BORDER-SIZE $BUTTON-BORDER-STYLE $BUTTON-BORDER-COLOR;
      .selected {
        background-color: lighten($LIGHT-HUE, 75%);
      }
      li{
        transition: all $BUTTON-TIME;
        border-top: $BUTTON-BORDER-SIZE $BUTTON-BORDER-STYLE $BUTTON-BORDER-COLOR;
        display: flex;
        min-height: $QUESTION-HEIGHT;
        align-items: center;
        color: $HUE;
        padding-right: $PADDING;
        .unOwned{
          padding-left: $PADDING;
        }
        a{
          color: inherit;
          text-decoration: inherit;
        }
        .container-question{
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .text-detail{
            font-size: .75rem;
            color: $LIGHT-HUE;
          }
          .text-title{
            padding-left: .2rem;
            font-size: 1rem;
          }
        }
      }
    }
}
