.single-question {
    padding: 1rem;
    padding-right: 0;
    padding-left: 0;
    flex-grow: 10;
    .tagContainer{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .unOwnedQuestion{
      padding-left: $MARGIN-GENERAL;
    }
    #question-outer-container {
        flex-direction: row;
        #question-title-container{
          padding: .4rem;
          margin-right: $MARGIN-GENERAL;
          @extend EXPAND;
          .title {
              color: $BLACK-HIGHER;
              font-size: 1.2rem;
          }
          .subHeader {
              padding: .2rem;
              font: .6rem !important;
              display: flex;
              width: 100%;
              justify-content: space-between;
              color: $BLACK-LOWER;
          }
        }
        .button-edit{
          @extend .sideButton;
          min-width: $MARGIN-GENERAL;
          color: $BLACK-MED;
          &:hover{
            background-color: $BLACK-LOWEST;
          }
          .description{
            flex-grow:0;
          }
        }
        .row{
          align-items: center;
        }
        //Used when the edit button is hovered.
        //Highlights what will be edited.
        .selectedEdits{
          @extend BUTTON-BORDER;
        }
        .unselected{
          padding: $BUTTON-BORDER-SIZE;
        }
    }
    @media screen and (min-height: 400px){
      .floating{
        //position: fixed;
      }
    }
    .floating{
      margin-top: 1rem;
      text-align: center;
      width: 100%;
    }
    .responseButton{
      right-margin: $MARGIN-GENERAL !important;
      bottom: .5rem;
      justify-content: center;
      display: flex;
      $t: .4s;
      *{
        transition: all $t;
      }
      .fade{
        transition: all $t;
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
      }
      .actionButton{
        max-width: 8rem;
      }
    }
    .responseUI{
      margin: $MARGIN-GENERAL;
      margin-top: 0;
      margin-bottom: .5rem;
      text-align: center;
      flex-grow: 1;
      background-color: white;
      .fadeIn{
        transition: all .4s;
        opacity: 1;
      }
      border-radius: $BUTTON-BORDER-SIZE;
      border-style: $BUTTON-BORDER-STYLE;
      border-color: $BUTTON-BORDER-COLOR;
      border-width: $BUTTON-BORDER-SIZE;
      cursor:default !important;
    }
    .responses {
        .enlargeScreen{
          height: 10rem;
        }
        .bottom-buffer{
          margin:0;
          padding:0;
        }
        .response-outer-container{
          display: flex;
        }
        .ownedResponse{
          margin-top: 1rem;
          @extend .sideButton;
          width: $MARGIN-GENERAL;
          color: $WHITE-TEXT;
          background-color: rgba(#fff,0);
          font-size: 200%;
          &:hover{
            background-color: $COLOR-ERROR-BG-BEFORE !important;
          }
        }
    }
    .unOwnedResponse{
      margin-right: $MARGIN-GENERAL;
      margin-left: $MARGIN-GENERAL;
    }
}

.response {
    margin-top: 1rem;
    padding: 1rem;
    border-color: $BUTTON-BORDER-COLOR;
    border-style: $BUTTON-BORDER-STYLE;
    border-width: $BUTTON-BORDER-SIZE;
    flex-grow: 1;
    .header {
      display: flex;
      flex-direction: row;
        padding: 0.2em;
        .vote {
            color: grey;
            cursor: pointer;
            margin-left: 0.5em;
        }
    }
    .sections {
        display: flex;
        flex-direction: row;
        border-radius: 0.2em;
        padding: 0.4em;

        border-top-width: $BUTTON-BORDER-SIZE;
        border-top-color: $BUTTON-BORDER-COLOR;
        border-top-style: $BUTTON-BORDER-STYLE;

        .section {
            .section-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.4em;
            }

            .section-body {
                margin-left: 1em;
                margin-right: 1em;
                flex-shrink: 1;
            }
        }

        .section-comments {
            display: flex;
            flex-grow: 10;
            border-left: 0.1em solid lightgrey;
            padding-left: 1em;
            .section-comment-header {
              font-size: .8em;
              color: grey;
              padding-bottom: 0.6em;

            }
            .section-comment {
                display: flex;
                .addComment {
                    display: flex;
                    flex-direction: column;
                    font-size: 0.8em;
                    button {
                      flex: 1;
                    }
                    textarea {
                        flex: 7;
                        padding: 0.2em 1em;
                    }
                }
                .comments{
                  display: flex;
                  flex-direction: column;
                  align-items: flex-end;
                  .comment {
                      display: flex;
                      flex-direction: row;
                      padding-top: 0.4em;
                      flex-wrap: nowrap;
                      white-space:nowrap;
                      text-overflow: ellipsis;
                      .username {
                        margin-right: .4em;
                        color: grey;
                      }
                      .detailText {
                        white-space: nowrap;
                          margin-left: 1em;
                          align-self: center;
                          justify-content: center;
                      }
                  }
                }
            }
        }
    }
}
