.single-question {
    margin: 0.5em;
    background: $infoBackground;
    padding: 1em;
    flex-grow: 10;

    .qHeader {
        margin-top: 0.4em;

        .title {
            font-size: 1.2em;
        }

        .subHeader {
            display: flex;
            flex-direction: row;
            color: grey;
            margin-top: 0.3em;
            margin-bottom: 0.2em;

            a {
                color: grey;
            }

            .none {}

            .total {}
        }
    }

    .responses {
        margin-top: 0.5em;

        .response {
            margin-left: 1em;
            margin-right: 1em;
            margin-top: 1em;
            padding-bottom: 0.5em;
            border: 1px solid lightgrey;
            border-radius: 0.2em;

            .header {
                display: flex;
                flex-direction: column;
                padding: 0.2em;

                .subHeader {
                    display: flex;
                    flex-direction: row;
                }

                .vote {
                    color: grey;
                    text-decoration: underline;
                    cursor: pointer;
                    margin-left: 0.5em;
                }
            }

            .sections {
                margin-top: 0.5em;
                margin-left: 1em;
                margin-right: 1em;
                border: 1px solid lightgrey;
                border-radius: 0.2em;
                padding: 0.5em;

                .section-header {
                    font-size: 0.8em;
                    border-bottom: 1px solid lightgrey;
                    margin-bottom: 0.5em;
                }

                .section-body {
                    font-size: 0.7em;
                    margin-left: 1em;
                    margin-right: 1em;
                }

                .sectionComments {
                    font-size: 0.7em;
                    padding-top: 0.5em;

                    input {
                        padding: 0.2em 3em;
                        margin-right: 0.5em;
                    }

                    .sectionHeader {
                        .addComment {
                            // font-size: .8em;
                            // padding-top: .5em;
                        }
                    }
                }
            }
        }
    }
}
