.single-question {
  margin-left: 2em;
  margin-right: 2em;
  .qHeader {
    .subHeader {
      display: flex;
      flex-direction: row;
      font-size: .6em;
      color: grey;
      margin-top: .3em;
      margin-bottom: .2em;
      a {
        color: grey;
      }
      .tag{
        cursor: pointer;
        text-decoration: none;
        margin-left: .2em;

      }
      .none {
        margin-left: .5em
      }
    }

  }
  .responses {
    margin-top: .5em;
    margin-left: 1em;
    margin-right: 1em;
    .total {
      border-bottom: 1px solid lightgrey;
      font-size: .9em;
    }
    .response {
      margin-left: 1em;
      margin-right: 1em;
      margin-top: 1em;
      .header {
        display: flex;
        flex-direction: column;
        font-size: .8em;
        border: 1px solid lightgrey;
        border-radius: .2em;
        padding: .2em;
        .subHeader {
          display: flex;
          flex-direction: row;
        }
        .vote {
          color: grey;
          font-size: .7em;
          text-decoration: underline;
          cursor: pointer;
          margin-left: .5em;
        }
      }
      .sections {
        margin-top: .5em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px solid lightgrey;
        border-radius: .2em;
        padding: .5em;

        .section-header {
          font-size: .7em;
          border-bottom: 1px solid lightgrey;
          margin-bottom: .5em;
        }
        .section-body {
          font-size: .7em;
          margin-left: 1em;
          margin-right: 1em;
        }

        .sectionComments {
          font-size: .7em;
          padding-top: .5em;
          input {
            padding: .2em 3em .2em 3em;
            margin-right: .5em;
          }
          .sectionHeader {
            .addComment {
              // font-size: .8em;
              // padding-top: .5em;
            }
          }

        }
      }
    }
  }
}
