//re-used for account page, which is why this scss is not contained in Discover.scss
@media(pointer:coarse) {
    //for mobile
}
$QUESTION-HEIGHT: 3rem;
$PADDING: 2rem;
$HUE: $BLACK-MED;
$LIGHT-HUE: $BLACK-LOW;
.questionStream {
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      border-bottom: $BUTTON-BORDER-SIZE $BUTTON-BORDER-STYLE $BUTTON-BORDER-COLOR;
      // .selected {
      //   background-color: lighten($LIGHT-HUE, 75%);
      // }
      li{
        transition: all $BUTTON-TIME;
        border-top: $BUTTON-BORDER-SIZE $BUTTON-BORDER-STYLE $BUTTON-BORDER-COLOR;
        display: flex;
        flex-direction: column;
        min-height: $QUESTION-HEIGHT;
        cursor: pointer;
        color: $HUE;
        padding-right: $PADDING;
        &:hover {
          background-color: lighten($LIGHT-HUE, 75%);
          .container_question{
            .bottom_line{
              font-size: .8rem;
              color: $LIGHT-HUE;
            }
          }
        }
        .container_question{
          min-height: $QUESTION-HEIGHT;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: $PADDING;
          .top_line{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            a{
              color: grey;
              text-decoration: inherit;
            }
          }
          .bottom_line{
            display: flex;
            flex-direction: row;
            justify-content: center;
            transition: all .2s;
            font-size: 0px;
            border-top: .1rem lightgrey;
            align-items: center;
            margin-top: .2rem;
          }
          .text_detail{
            font-size: .75rem;
            color: $LIGHT-HUE;
          }
          .text_title{
            padding-left: .2rem;
            font-size: 1rem;
          }
        }
      }
    }
}
