//re-used for account page, which is why this scss is not contained in Discover.scss

$listBackgroundColor: rgb(255, 255, 255);
$phoneButtonSize: 20vw;
$phoneButtonHeight: 15vw;
@media(pointer:coarse) {
  //for mobile
}
.questionSubHeader {
  width: 100%;
}
.orderContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    button {
        margin-left: 5px;
    }
}
.questionStream {
  flex-grow: 10;
  ul{
    margin: 0;
    li {
      border-top: .1em solid $background;
    }
  }
    .questionContainer {
      padding-top: .4em;
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: .4em;
      display: flex;
      flex-direction: column;
      font-size: .9em;
      .tags {
        margin-bottom: .2em;
        display: flex;
      }
      .header {
        margin-top: .3em;
        display: flex;
        justify-content: space-between;
        .text {
          color: black;
          text-decoration: none;
          font-size: 1.2em;
        }
        .text:hover {
          .title {
            text-decoration: underline;
          }
        }
        .d-time {
          margin-left: 1em;
        }
        .belowTitle {
          display: flex;
          flex-direction: row;
          color: grey;
          justify-content: space-between;
          font-size: .8em;
          a {
            border-radius: .1em;
            color: grey;
            margin: 0 .4em;
          }
        }

      }
    }
    ul {
        margin-top: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .pagerContainer {
      margin-top: 1em;
        a {
            margin-left: 10px;
            text-decoration: none;
            color: black;
        }
    }
}
