.single-question {
    margin: 0.5em;
    background: $infoBackground;
    padding: 1em;
    flex-grow: 10;

    .qHeader {
        margin-top: 0.4em;

        .title {
            font-size: 1.2em;
        }

        .subHeader {
            display: flex;
            flex-direction: row;
            color: grey;
            margin-top: 0.3em;
            margin-bottom: 0.2em;

            a {
                color: grey;
            }

            .none {}

            .total {}
        }
    }

    .responses {
        margin-top: 0.5em;

        .response {
            margin-left: 1em;
            margin-right: 1em;
            margin-top: 1em;
            // border: 1px solid lightgrey;
            box-shadow: 0 0 .8em 0 rgba(#b6b6b6, 0.45);
            border-radius: 0.2em;
            padding: .4em;

            .header {
                display: flex;
                flex-direction: column;
                padding: 0.2em;

                .subHeader {
                    display: flex;
                    flex-direction: row;
                }

                .vote {
                    color: grey;
                    text-decoration: underline;
                    cursor: pointer;
                    margin-left: 0.5em;
                }
            }

            .sections {
              display: flex;
              flex-direction: row;
                margin: .2em 1em;
                border-top: 0.1em solid lightgrey;
                border-radius: 0.2em;
                padding: 0.4em;

                .section {
                    .section-header {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid lightgrey;
                        margin-bottom: 0.4em;
                        .addComment {
                            display: flex;
                            flex-direction: row;
                            font-size: 0.8em;
                            flex-grow: 5;

                            button {
                                padding: 0.2em .4em;
                                margin: 0.2em;
                            }

                            input {
                                padding: 0.2em 1em;
                                margin: 0.2em;
                                flex-grow: 3;
                            }
                        }
                    }

                    .section-body {
                        // font-size: 0.8em;
                        margin-left: 1em;
                        margin-right: 1em;
                        flex-shrink: 1;
                    }
                }

                .section-comments {
                    display: flex;
                    flex-grow: 10;
                    margin-left: 1em;
                    border-left: 0.1em solid lightgrey;
                    padding-left: 1em;
                    .section-comment-header {
                      font-size: .8em;
                      color: grey;
                      padding-bottom: 0.6em;

                    }
                    .section-comment {
                        display: flex;
                        flex-wrap: nowrap;
                        .comment {
                            display: flex;
                            flex-direction: row;
                            flex-grow: 1;
                            // border-top: 0.1em solid lightgrey;
                            padding-top: 0.4em;
                            flex-wrap: nowrap;
                            white-space:nowrap;
                            .username {
                              margin-right: .4em;
                              color: grey;
                            }
                            .detailText {
                                margin-left: 1em;
                                align-self: center;
                                justify-content: center;
                            }
                            .editButton {
                              color: blue;
                            }
                        }

                    }
                }
            }
        }
    }
}
