//re-used for account page, which is why this scss is not contained in Discover.scss

$listBackgroundColor: rgb(255, 255, 255);
$phoneButtonSize: 20vw;
$phoneButtonHeight: 15vw;
$responseButton-Size: 35px;
$responseButton-Height: 1px; //Height off the screen, it is the drop shadow.
$responseButton-Shadow: rgba(#000, .5);
@media(pointer:coarse) {
  //for mobile
}
.questionSubHeader {
  width: 100%;
}
.orderContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    button {
        margin-left: 5px;
    }
}
.questionStream {
  flex-grow: 10;
  ul{
    margin: 0;
    li {
      border-top: .1em solid $background;
    }
  }
    .questionContainer {
      padding-top: .4em;
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: .4em;
      display: flex;
      flex-direction: column;
      font-size: .9em;
      .d-time{
        opacity:.6;
        a{
          color: black;
        }
      }
      .tags {
        margin-bottom: .2em;
        display: flex;
      }
      .header {
        margin-top: .3em;
        display: flex;
        justify-content: space-between;
        .text {
          color: black;
          text-decoration: none;
          font-size: 1.2em;
        }
        .text:hover {
          .title {
            text-decoration: underline;
          }

        }
        .d-time {
          margin-left: 1em; // I think this line is beging ignored. - William
        }
        .belowTitle {
          display: flex;
          flex-direction: row;
          color: grey;
          justify-content: space-between;
          font-size: .8em;

          a {
            border-radius: .1em;
            color: grey;
            margin: 0 .4em;
          }
          .response-button{
            color: white;
            font-size: 1*$responseButton-Size/2;
            height:$responseButton-Size;
            width:$responseButton-Size;
            border-radius: $responseButton-Size/2;
            background-color: $COLOR-ACTION;
            $h: $responseButton-Height;
            box-shadow: $h $h $h $responseButton-Shadow;
          }
          .response-button > *{
            $h: $responseButton-Size/2;
            width: $h;
            height: $h;
            margin-top: $h/2;
            margin-left: $h/2;
            text-align: center;
            vertical-align: middle;
          }
        }

      }
    }
    ul {
        margin-top: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .pagerContainer {
      margin-top: 1em;
        a {
            margin-left: 10px;
            text-decoration: none;
            color: black;
        }
    }
}
