
.responsesContainer {
  background-color: rgba(255, 255, 255, 1);
}
$responseButtonBackground: $secondaryColor;
.addResponseButton {
  color: black;
  border: 1px solid lightblue;
  border-radius: $standardBorderRadius;
  background: white;
  margin: .5em;
}
.responseButtonActive {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.addResponseBody {
  padding: 10px;
  border-bottom-right-radius: $standardBorderRadius;
  border-bottom-left-radius: $standardBorderRadius;
}
