.search {
  margin: .5em;
  padding: .5em;
  background: white;
  .searchParameters{
    // background: rgb(246, 246, 246);
    padding: .5em;
    border-radius: .2em;
    .searchForm {
      div {
        margin: .3em;
        .searchBox {
          flex-grow: 10;
          padding: .6em;
        }
        .checkbox {
          font-size: .7em;
          color: grey;
          margin-right: .5em;
        }
      }
    }
  }
  .searchResults {
    margin-top: 1em;

    .responses {
      .results {
        .response{
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left: 1em;
          margin-right: 1em;
          padding: .25em;
          @extend BUTTON-BORDER;
          border-radius: .2em;
              .header {
                .text {
                  color: black;
                  font-size: .8em;
                }
                .details {
                  font-size: .6em;
                  color: grey;
                  margin-left: 1em;
                }
              }
              .subHeader {
                a {
                  font-size: .6em;
                  color: grey;
                }
              }
        }
      }
    }
    .users {
      .header {

      }
      .results {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
        .user {
          border-bottom: 1px solid lightgrey;
          a {
              color: black;
              font-size: .8em;
              .details {
                font-size: .7em;
                color: grey;
                margin-left: 1em;
              }
          }
        }
      }
    }
  }
}
