
$toggleRadius: 5px;
.sidebar {
    display: flex;
    flex-direction: column;
    transition: 100ms;
    margin:1rem;
    margin-top:0;
    .sortContainer{
      .sortTitle{
        opacity: .7;
      }
      .optionsBoxContainer{
        justify-content: center;
        font-family: Inconsolata;
        font-size: 0.7rem;
        margin: .1rem;
        .optionsBox{
          margin: 0;
          padding: 0;
          display: flex;
          background-color: $BUTTON-BORDER-COLOR;
          border-radius: $toggleRadius;
          a{
            //I am not done with this, I had to go do class.
            //I am going to commit anyways because the buttons do not actually do anything anyways.
            margin: 0;
            padding: 0;
            padding: 5px;
            @extend .whiteButton;
            border-radius: 0;
            transition: all .2s;
            white-space: nowrap;
          }
          .compress{
            background-color: $BLACK-LOWER;
            color: white;

          }
          .left{
            //Acting as if this one is selected.
            border-bottom-left-radius: $toggleRadius;
            border-top-left-radius: $toggleRadius;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            //border-right-style: none;
          }
          .middle{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-left: none;
            border-right: none;
          }
          .right{
            border-top-right-radius: $toggleRadius;
            border-bottom-right-radius: $toggleRadius;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            //border-left-style: none;
          }
        }
      }
    }

    .buttonCard{
      padding: .8rem;
      opacity: .8;
      align-items: center;
      justify-content: center;
    }
    .catagory {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        padding: 0.6em;
        margin-bottom: 0.4em;
        border-bottom: $BUTTON-BORDER-SIZE $BUTTON-BORDER-STYLE $BUTTON-BORDER-COLOR;
        max-width: 13em;
        #category-prompt{
          opacity: .6;
        }
        ul{
          padding-left: .8em;
        }
        .tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: .2em;
            justify-content: space-between;
            .tag{
              @extend .roundButton;
              text-decoration: none;
              margin: .2em;
            }
        }
    }
}
