.sidebar {
    background: $infoBackground;
    display: flex;
    flex-direction: column;
    transition: 100ms;
    padding: 0.6em;
    margin: 0.4em;

    .catagory {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        padding: 0.6em;
        margin-bottom: 0.4em;
        border-bottom: 0.2em solid lightgrey;

        .tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 12em;
            margin: .2em;
            .tag{
              margin: .2em;
            }
        }

        .ask {
            text-decoration: none;
        }
    }
}
