
//area to look at a users info(including your own)

.account {
  margin: .5rem;
  display: flex;
  background: white;
  padding: .5rem;
  .header {
    display: flex;
    flex-direction: row;
    margin: .2rem;
    .name {
      display: flex;
      flex-direction: row;
      font-size: 1rem;
    }
  }
  .noUser {
    align-items: center;
    justify-content: center;

  }
  .accountStats {
    padding: 10px;
    display: flex;
    flex-flow: column;
    .subheader {
      .contentTitle {
        // font-size: 2em;
      }
      .details {
        display: flex;
        align-items: center;
        // font-size: em;
        color: grey;
      }
    }
    .empty-text {
      align-self: center;
    }
    .row {
      p {
        margin-right: 5px;
      }
    }
    .responses {
      .response{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: .25rem;
        border: 1px solid lightgrey;
        border-radius: .2rem;
            .header {
              .text {
                color: black;
                font-size: .8rem;
              }
              .details {
                font-size: .8rem;
                color: grey;
                margin-left: 1rem;
              }
            }
            .subHeader {
              a {
                font-size: .8rem;
                color: grey;
              }
              .details {
                font-size: .8rem;
                color: grey;
              }
            }
      }
    }
  }
}
