
.sass-cache/
bundle.js
*.css.map

*.scssc

.sass-cache/4b48533167786bd4ba0242f3f3dbe48c2569adf5/ask.scssc

*.scssc

.sass-cache/4b48533167786bd4ba0242f3f3dbe48c2569adf5/main.scssc


### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

*.css

.ftpconfig

as13.py

*.css
