<nav ng-controller="headerController" id="header" class="navbar navbar-default purp " role="navigation">

    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="">
                <a ng-href="#questions">questions</a>
            </li>
            <li class="">
                <a ng-href="#about">about</a>
            </li>
            <li>
                <a href="#"></a>
            </li>
        </ul>

        <div class="navbar-form navbar-left" role="search">
            <form ng-submit="submit(pageNum, currentSearchTerm)">
                <div class="input-group row">
                    <input ng-model="currentSearchTerm" type="text" name="text" class="form-control" placeholder="Search Questions">
                    <span class="input-group-btn">
                        <button tooltip-placement="left" uib-tooltip="SEARCH YOU STUPID CUNT!" ng-click="getSearchedQuestions(pageNum, currentSearchTerm)" type="submit" id="submit" value="Submit" class="btn btn-primary">submit</button>
                    </span>
                </div>
            </form>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a ng-href="#login" ng-show="!isLoggedIn">login</a>
            </li>
            <li class="">
                <a ng-href="#createaccount" ng-show="!isLoggedIn">new account</a>
            </li>
            <li class="">
                <a ng-href="#account" ng-show="isLoggedIn">account</a>
            </li>
            <li>
                <a ng-href="#login" ng-click="logout()" ng-show="isLoggedIn">log out</a>
            </li>
            <li>
                <a href="#"></a>
            </li>
        </ul>
    </div>
    <!-- /.container-fluid -->

</nav>
