<img id="agoraDudeAccount" src="fad.png" ng-click="printLogged()"/>
<div class="loginContainer">
    <div class="" ng-show="!isLoggedIn">
        <h1>
            <small>login</small>
        </h1>
        <form ng-controller="loginForm" ng-submit="submit()">
            <div class="form-group">
                <label for=""></label>
                <input ng-model="username" type="text" class="form-control" placeholder="Username">
                <label for=""></label>
                <input ng-model="password" type="password" class="form-control" placeholder="Passcode">
                <br>
                <button type="submit" id="submit" value="Submit" class="btn btn-primary" name="button">login</button>
            </div>
        </form>
    </div>
    <div ng-show="isLoggedIn">
        <div class="" ng-controller="accountInfoController">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1-12">
                        <h5>
                            user name</h5>
                    </div>
                    <div class="col-lg-1-12">
                        <p>{{accountInfo.username}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1-12">
                        <h5>password</h5>
                    </div>
                    <div class="col-lg-1-12">
                        <p>{{accountInfo.password}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1-12">
                        <h5>email</h5>
                    </div>
                    <div class="col-lg-1-12">
                        <p>{{accountInfo.email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1-12">
                        <h5>id</h5>
                    </div>
                    <div class="col-lg-1-12">
                        <p>{{accountInfo.id}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1-12">
                        <h5>last ip</h5>
                    </div>
                    <div class="col-lg-1-12">
                        <p>{{accountInfo.last_ip}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1-12">
                        <h5>
                            number of asked questions</h5>
                    </div>
                    <div class="col-lg-1-12">
                        <p>{{accountInfo.MyQuestions}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1-12">
                        <h5>number of responses</h5>
                    </div>
                    <div class="col-lg-1-12">
                        <p>{{accountInfo.MyResponses}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
