<div class="col addResponse" ng-controller="submitResponseFormController" ng-submit="submit(q.id)">
    <div class="header">
        <textarea id="title" msd-elastic ng-class="{noInput: success, alertField: noTitle}" type="text" placeholder="Title, summary or tldr" ng-model="response"></textarea>
        <!--<span ng-show="success" class="detailText">Written by {{accountInfo.username}} just now</span>-->
    </div>
    <div class="sections">
        <div class="section" ng-repeat="m in modules">
            <div class="background" ng-class="{highlight: m.selected}"></div>
            <div class="foreground">
                <div class="section-header fill-inbetween">
                    <textarea msd-elastic class="" ng-class="{noInput: success}" type="text" placeholder="Subject" ng-model="m.title"></textarea>
                    <button ng-hide="success" title="Delete this section." class="removeButton" type="button" ng-mouseenter="m.selected=true" ng-mouseleave="m.selected=false" ng-click="removeModule($index)"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="section-body">
                    <textarea msd-elastic class="fill-space" rows="8" cols="50" placeholder="Body" ng-model="m.text"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom-row" class="row fill-inbetween" ng-class="{fadeIn: openUI}">
        <div></div>
        <button id="send" class="buttonExpandDown submitButton" ng-hide="success" type="submit" ng-click="submit()">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <div class="description">save</div>
        </button>
        <button id="add" ng-hide="success" class="buttonExpandDown" type="button" ng-click="addModule()">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <div class="description">add</div>
        </button>
    </div>
    <div class="row fill-inbetween" ng-show="failed">
        <h4 style="color:green">failed... try refreshing the page</h4>
    </div>
</div>
