<div class="askQuestionPage col" ng-controller="submitQuestionFormController">
    <div class="header row center-horizontal fill-space">
        Ask a question!
    </div>
    <div class="row">
        <form class="askQuestion" ng-submit="submit()" role="form">
                <textarea type="text" class="" placeholder="Ask a question; eg. (Can kowalas survive biscuts and gravy?)" required ng-model="question"></textarea>
                <input class="" ng-model="questionTags" type="text" placeholder="Tag your question; eg. (cute cats, derivitives)">
            <button type="submit" class="submitButton whiteButton" ng-hide="success; loading">
                  Submit
            </button>
            <div class="row" ng-show="loading">
                <div class="fill-space"></div>
                <img src="media/animal.gif">
                <div class="fill-space"></div>
            </div>
            <div class="row" ng-show="success">
                <div class="fill-space"></div>
                <h4 style="color:green">Question added!</h4>
                <div class="fill-space"></div>
            </div>
        </form>
        <div class="how-to col center-horizontal">
            <ul>
                <li>We encourage prompts/questions with opinionated solutions. Stack can go suck itself off.</li>
                <li>That is not spammy.</li>
                <li>State your prompt/question clearly</li>
                <li>No spam -_-</li>
                <li>Try to answer others questions in, non spammy, ways...</li>
                <li>Argue with others ideas with comments. Without spam. Please.</li>
            </ul>
        </div>
    </div>
</div>
