  <div class="askQuestionPage row" ng-controller="submitQuestionFormController">
      <div>
          <form class="askQuestion" ng-submit="submit()" role="form">
              Ask A Question!
              <textarea type="text" class="" placeholder="Ask a question; eg. (Can kowalas survive biscuts and gravy?)" required ng-model="question"></textarea>
              <input  class="" ng-model="questionTags" type="text" placeholder="Tag your question; eg. (cute cats, derivitives)">
              <button type="submit" class="submitButton" ng-hide="success; loading">
                  submit
              </button>
              <div class="row" ng-show="loading">
                <div class="fill-space"></div>
                <img src="media/animal.gif">
                <div class="fill-space"></div>
              </div>
              <div class="row" ng-show="success">
                <div class="fill-space"></div>
                <h4 style="color:green">Question added!</h4>
                <div class="fill-space"></div>
              </div>
          </form>
      </div>
  </div>
