<div class="" ng-controller="submitQuestionFormController">
    <div>
        <form class="askQuestionContainer" ng-submit="submit()" role="form">
            <h2>Ask A Question!</h2>
            <textarea type="text" class="" placeholder="ask a question; eg. (Can kowalas survive biscuts and gravy?)" required ng-model="question"></textarea>
            <input  class="" ng-model="questionTags" type="text" placeholder="tag your question; eg. (cute cats, derivitives)">
            <button type="submit" class="btn btn-sm btn-primary" ng-hide="success">
                submit
            </button>
            <div class="container-row" ng-show="success">
              <div class="fill-space" style="color:green"></div>
              <h4>SUCCESS!</h4>
              <div class="fill-space"></div>
            </div>
        </form>
    </div>
</div>
