<div class="banner col" ng-class="{'smallHead': minBanner}">
    <div class="centeredPouch col center-horizontal">
        <div class="row">
          <div ng-show="isLoggedIn" class="logOptions">
            <a href="#user/{{accountInfo.username}}">hello {{accountInfo.username}}</a>
          </div>
            <div class="fill-space"></div>
            <div class="pouch">
              <img class="agoraDude" src="media/fadMin.png"/>
              <a class="title" ng-click="selectedTab = 'about'" ng-href="#about">This Agora</a>
            </div>
            <div class="fill-space"></div>
            <div class="logOptions">
              <a ng-href="#" ng-click="logout()" ng-show="isLoggedIn">log out</a>
              <div ng-hide="isLoggedIn">
                  Please
                  <a class="" ng-href="#login">
                      login
                  </a>
                  or
                  <a class="" ng-href="#login">
                      create an account
                  </a>
                  to participate in discussion!
              </div>

            </div>
        </div>
        <div class="row">
          <div class="fill-space"></div>
          <div class="about">
            A platform to create complex philosophical arguments about absolutly anything.
          </div>
          <div class="fill-space"></div>
        </div>

    </div>
</div>
