
<div class="loginPage">
    <img class="agoraDude" src="media/fad.png"/>
    <div class="loginContainer">
        <h1>
            <small>create account</small>
        </h1>
        <form ng-submit="createAccount(username, password)">
            <div class="container-col ">
                <input ng-model="username" type="text" class="container" placeholder="username">
                <input ng-model="password" type="password" class="container" placeholder="password">
                <div class="container-row">
                    <button class="button-wide" type="submit">login</button>
                    <div class="fill-space"></div>
                    <label>
                        remember me:
                        <input type="checkbox" value="">
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
