  <div class="row questionStream">
    <!-- <ng-include src="'html-components/sidebar.html'"></ng-include> -->
    <!-- <div class="fill-space"></div> -->
    <div class="col fill-space">
      <div class="optionsBox row detailText">
        Sort by:
        <a ng-href="#discover">
          new,
        </a>
        <a ng-href="#discover">
          popular
        </a>
        or
        <a ng-href="#/search">
          find something specific
        </a>
        <div class="fill-space">
        </div>
        <!-- <div class="divider"></div> -->
        <div class="fill-space"></div>
        Or try your
        <a href="#/question/5">
          luck
        </a>
         at answering something random?
      </div>
        <div class="col">
          <div class="fill-space"></div>
          <div class="row" ng-if="!questions.length">
            <div class="fill-space"></div>
              <div class="center-horizontal">
                  <img src="media/animal.gif">
              </div>
              <div class="fill-space"></div>
          </div>
          <div class="fill-space"></div>
        </div>
        <div ng-if="questions.length">
            <div class="" >
              <ng-include src="'html-components/questionStream.html'"> </ng-include>
            </div>

            <div class="pagerContainer row">
                <a href="" ng-click="goBackOne()">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                  previous page
                </a>
                <div class="fill-space"></div>
                <a href="" ng-click="goForwardOne()">
                  next page
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
