<div class="row">
  <ng-include src="'html-components/sidebar.html'"></ng-include>
  <div class="row discover">
    <!-- <div class="fill-space"></div> -->
    <div class="col fill-space questionStream">
      <div class="optionsBox row">
        Sort by:
        <a ng-href="#discover">
          new,
        </a>
        <a ng-href="#discover">
          popular
        </a>
        or
        <a ng-href="#/search">
          find something specific
        </a>
        <div class="fill-space">
        </div>
        <!-- <div class="divider"></div> -->
        <div class="fill-space"></div>
        Or try your
        <a href="#/question/5">
          luck
        </a>
         at answering something random?
      </div>
        <div class="col">
          <div class="fill-space"></div>
          <div class="row" ng-if="!questions.length">
            <div class="fill-space"></div>
              <div class="center-horizontal">
                <br>
                <img  ng-if="!isQueryEmpty" ng-hide="couldNotConnect" src="media/animal.gif">
                <span ng-if="!isQueryEmpty" ng-show="couldNotConnect" class="error">Cannot connect to server, check connection.</span>
                <span ng-if="isQueryEmpty" >hmmm... there doesn't seem to be anything here...</span>
                </div>
              <div class="fill-space"></div>
          </div>
          <div class="fill-space"></div>
        </div>
        <div ng-if="questions.length">
            <div class="" >
              <ng-include src="'html-components/questionStream.html'"> </ng-include>
            </div>
        </div>
        <div class="pagerContainer row">
            <a href="" ng-click="goBackOne()">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              previous page
            </a>
            <div class="fill-space"></div>
            <a href="" ng-click="goForwardOne()">
              next page
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

</div>
