<div  class="management container-col" ng-init="revealedAskQuestion = false" ng-controller="headerController">
    <ng-include src="'html-components/splashPage.html'"></ng-include>
    <header class="site-header" ng-init="selectedTab = 'questions'">

        <nav class="site-nav">
            <ul>
                <li ng-class="{'active':selectedTab === 'questions'}">
                    <a ng-href="#questions" ng-click="selectedTab = 'questions'">Questions</a>
                </li>
                <li ng-class="{'active':selectedTab === 'login'}">
                    <a ng-href="#login" ng-show="!isLoggedIn" ng-click="selectedTab = 'login'">login</a>
                </li>
                <li ng-class="{'active':selectedTab === 'createAccount'}">
                    <a ng-href="#createAccount" ng-show="!isLoggedIn" ng-click="selectedTab = 'createAccount'">new account</a>
                </li>
                <li ng-class="{'active':selectedTab === 'account'}">
                    <a ng-href="#account" ng-show="isLoggedIn" ng-click="selectedTab = 'account'">manage account</a>
                </li>
            </ul>
        </nav>
        <form class="searchForm" ng-controller="searchController" ng-submit="searchQuestions()">
            <input class="searchFormInput" ng-model="searchQuery.question" type="text" placeholder="Search Questions">
            <button class="searchFormButton">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
        <div class="fill-space mobile-Hidden"></div>
        <div class="askDropdown">
            <button class="stylessButton" ng-click="revealedAskQuestion = !revealedAskQuestion">
                propose question
                <i class="fa fa-chevron-down" aria-hidden="true" ng-hide="revealedAskQuestion"></i>
                <i class="fa fa-chevron-up" aria-hidden="true" ng-hide="!revealedAskQuestion"></i>
            </button>
        </div>
    </header>

    <div class="askQuestion" ng-if="revealedAskQuestion">
        <ng-include src="'html-components/ask-question.html'"></ng-include>
    </div>

</div>
