<div  class="management col" ng-init="revealedAskQuestion = false" ng-controller="headerController">
    <!-- <ng-include src="'html-components/banner.html'"></ng-include> -->
    <header class="site-header" ng-init="selectedTab = 'discover'">
        <nav class="site-nav">
            <ul>
                <li ng-class="{'active':selectedTab === 'discover'}">
                    <a ng-href="#discover" ng-click="selectedTab = 'discover'" class="whiteButton">Discover</a>
                </li>
                <li ng-class="{'active':selectedTab === 'account'}">
                    <a ng-href="#user/{{accountInfo.username}}" ng-show="isLoggedIn" ng-click="selectedTab = 'account'" class="whiteButton">Account</a>
                </li>
                <li ng-class="{'active':selectedTab === 'ask'}">
                    <a ng-href="#ask" ng-click="selectedTab = 'ask'" ng-show="isLoggedIn" class="whiteButton">Ask Question</a>
                </li>
            </ul>
        </nav>
        <ng-include src="'html-components/banner.html'"></ng-include>
        <form class="searchForm" ng-submit="search()">
            <input class="searchFormInput" ng-model="searchQuery" type="text" placeholder="Search This Agora">
            <button><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </header>
</div>
