<nav ng-controller="headerController" id="header" class="navbar navbar-default purp" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#top">The Agora</a>
        </div>

        <div class="navbar-form navbar-left" role="search">
            <form ng-controller="searchController" ng-submit="searchQuestions()">
                <div class="input-group">
                    <input ng-model="searchQuery.question" type="text" class="form-control input-sm" placeholder="Search Questions">
                    <span class="input-group-btn">
                        <button  class="btn btn-primary btn-sm">
                          <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="">
              <a ng-href="#about">about</a>
          </li>
            <li class="">
                <a ng-href="#login" ng-show="!isLoggedIn">login</a>
            </li>
            <li class="">
                <a ng-href="#createAccount" ng-show="!isLoggedIn">new account</a>
            </li>
            <li class="">
                <a ng-href="#account" ng-show="isLoggedIn">account</a>
            </li>
            <li>
                <a ng-href="#" ng-click="logout()" ng-show="isLoggedIn">log out</a>
            </li>
        </ul>
    </div>
</nav>
