<div  class="management col" ng-init="revealedAskQuestion = false" ng-controller="headerController">
    <ng-include src="'html-components/banner.html'"></ng-include>
    <header class="site-header" ng-init="selectedTab = 'discover'">
        <nav class="site-nav">
            <ul>
                <li ng-class="{'active':selectedTab === 'discover'}">
                    <a ng-href="#discover" ng-click="selectedTab = 'discover'">Discover</a>
                </li>
                <li ng-class="{'active':selectedTab === 'account'}">
                    <a ng-href="#user/{{accountInfo.username}}" ng-show="isLoggedIn" ng-click="selectedTab = 'account'">Account</a>
                </li>
                <li ng-class="{'active':selectedTab === 'ask'}">
                    <a ng-href="#ask" ng-click="selectedTab = 'ask'" ng-show="isLoggedIn">Ask Question</a>
                </li>
            </ul>
        </nav>
        <form class="searchForm fill-space" ng-submit="search()">
            <input class="searchFormInput" ng-model="searchQuery" type="text" placeholder="Search This Agora">
            <div class="col">
              <button class="fill-space">
                  <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
        </form>
    </header>
</div>
