<div class="single-question">
    <div class="row" ng-hide="question.text.length">
        <div class="fill-space"></div>
        <img src="media/animal.gif">
        <div class="fill-space"></div>
    </div>
    <div ng-show="question.text.length">
        <div class="tagContainer">
            <a class="roundButton tag" title="Tag: {{tag.name}}" ng-click="tagSearch(tag.name)" ng-repeat="tag in question.tags">{{tag.name}}</a>
        </div>
        <div id="question-outer-container" class="col" ng-class="{unOwnedQuestion: question.username != accountInfo.username}">
            <a class="button-edit" ng-click="toggleEdit()" ng-mouseenter="editHovered=true" ng-mouseleave="editHovered=false" ng-show="question.username == accountInfo.username">
              <i ng-class="{'fa-floppy-o': editQuestion, 'fa-pencil-square-o': !editQuestion}" class="fa" aria-hidden="true"></i>
              <div class="description">
                {{editText}}
              </div>
            </a>
            <div id="question-title-container">
                <div class="row">
                    <div ng-class="{selectedEdits: editHovered, unselected: !editHovered}" ng-hide="editQuestion" class="title">{{question.text}}</div>
                    <input ng-model="question.text" class="expand title BUTTON-BORDER" type="text" ng-show="editQuestion"></input>
                    <div class="fill-space"></div>
                </div>
                <div class="row subHeader">
                    <span id="question-timestamp">Writen {{question.dtime}} ago by {{question.username}}.</span>
                    <span id="response-counter">Number of responses: {{question.total_responses}}</span>
                </div>
            </div>
        </div>
        <div class="responses">
            <div class="response-outer-container" ng-repeat="response in question.responses" ng-controller="responseController">
                <div ng-click="delete(response)" ng-hide="deleted" title="Delete this response." class="ownedResponse" ng-if="response.username == accountInfo.username">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </div>
                <div class="response" ng-hide="deleted" ng-class="{unOwnedResponse: {{response.username != accountInfo.username}}}">
                    <div class="header">
                            <span>{{response.text}}</span>
                            <div class="vote col" ng-click="upVote(question.responses[$index].id)" ng-hide="upVoted">
                                <div class="fill-space"></div>
                                <div class="row">
                                    <i title="UP VOTE" class="fa fa-spin fa-grav" aria-hidden="true"></i>
                                </div>
                                <div class="fill-space"></div>
                            </div>
                            <div class="fill-space"></div>
                            <div class="detailText col">
                                <div class="fill-space"></div>
                                <label>
                                  Writen by <a ng-href="#/user/{{response.username}}">{{response.username}}</a> {{response.dtime}} ago
                                </label>
                                <div class="fill-space"></div>
                            </div>
                    </div>
                    <div class="sections" ng-repeat="section in response.modules" ng-show="response.modules.length">
                        <ng-include src="'html-components/section.html'"></ng-include>
                    </div>
                </div>
                <div ng-click="delete(response)" ng-hide="deleted" title="Delete this response." class="ownedResponse" ng-if="response.username == accountInfo.username">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </div>
            </div>
            <div class="responseButton floating">
                <a class="buttonExpandHorizontal" title="Respond to the question." ng-href="#login" ng-hide="isLoggedIn">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="description">Respond</span>
                </a>
            </div>
            <div id="bottom-buffer" ng-class="{enlargeScreen: openUI}"></div>
        </div>
    </div>
