<div class="container-col">
    <ul>
        <li class="" ng-class='{questionContainer:!$first}' ng-repeat="q in questions" ng-init="isBodyHidden">
            <div class="container-row highlight-hover">
              <button class="questionTitle" ng-click="isBodyHidden=!isBodyHidden">
                  {{q.text}}
              </button>
            </div>
            <div class="responsesContainer" ng-if="isBodyHidden">
                <div class="container-m"></div>
                <div ng-if="!q.responses.length">
                    <h4 class="centerText">no responses...</h4>
                </div>
                <div class="responseTableContainer">
                    <div class="" ng-if="!!q.responses.length">
                      <div class="container-col">
                        <div class="container-row">
                          <p>
                            responses
                          </p>
                          <div class="fill-space"></div>
                          <label class=" ">Do You Agree?</label>
                        </div>
                        <div class="container-row highlight-hover padding-l-r" ng-repeat="r in q.responses | orderBy: orderR">
                          <p>
                            {{r.text}}
                          </p>
                          <div class="fill-space"></div>
                          <div class="float-right container-col">
                              <button class="center-self" ng-show="isLoggedIn" ng-click="agree(r.id)" type="button" name="button">Agree</button>
                              <button class="center-self" ng-show="!isLoggedIn">
                                  <a ng-href="#login" style="color: white">log in to agree</a>
                              </button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>
