<div class="single-question">
    <div class="row" ng-hide="question.text.length">
        <div class="fill-space"></div>
        <img src="media/animal.gif">
        <div class="fill-space"></div>
    </div>
    <div ng-show="question.text.length">
        <div class="tagContainer">
            <a class="roundButton tag" title="Tag: {{tag.name}}" ng-click="tagSearch(tag.name)" ng-repeat="tag in question.tags">{{tag.name}}</a>
        </div>
        <div id="question-outer-container" class="col">
            <a class="edit" ng-click="editQuestion=true" ng-hide="editQuestion" ng-mouseenter="editHovered=true" ng-mouseleave="editHovered=false" ng-show="question.creator.username == accountInfo.username" title="Edit the text of the question."><div></div><i class="fa-pencil-square-o fa" aria-hidden="true"></i><div></div></a>
            <a class="edit" ng-click="saveText(question)" ng-show="editQuestion" title="Save the text of this question."><div></div><i class="fa-floppy-o fa" aria-hidden="true"></i><div></div></a>
            <div id="question-title-container">
                <div class="row">
                    <div ng-class="{selected: editHovered, unselected: !editHovered}" ng-hide="editQuestion" class="title">{{question.text}}</div>
                    <input ng-model="question.text" class="expand title BUTTON-BORDER" type="text" ng-show="editQuestion"></input>
                    <div class="fill-space"></div>
                </div>
                <div class="row subHeader">
                    <span id="question-timestamp">Writen {{question.dtime}} ago by {{question.username}}.</span>
                    <span id="response-counter">Number of responses: {{question.total_responses}}</span>
                </div>
            </div>
        </div>
        <div class="responses">
            <div class="response-outer-container" ng-repeat="response in question.responses track by response.id" ng-controller="responseController">
                <div ng-click="delete(response)" ng-hide="deleted" title="Delete this response." class="ownedResponse" ng-if="response.username == accountInfo.username">
                    <div></div><i class="fa fa-close" aria-hidden="true"></i>
                    <div></div>
                </div>
                <div class="response" ng-hide="deleted" ng-class="{unOwnedResponse: {{response.username != accountInfo.username}}}">
                    <div class="header">
                        <div class="subHeader">
                            <span>{{response.text}}</span>
                            <div class="vote col" ng-click="upVote(question.responses[$index].id)" ng-hide="upVoted">
                                <div class="fill-space"></div>
                                <div class="row">
                                    <i title="UP VOTE" class="fa fa-spin fa-grav" aria-hidden="true"></i>
                                    <!-- <i class="fa fa-arrow-up" aria-hidden="true"></i> -->
                                </div>
                                <div class="fill-space"></div>
                            </div>
                            <div class="fill-space"></div>
                            <div class="detailText col">
                                <div class="fill-space"></div>
                                <label>
                  Writen by <a ng-href="#/user/{{response.username}}">{{response.username}}</a> {{response.dtime}} ago
                </label>
                                <div class="fill-space"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sections" ng-repeat="section in response.modules">
                        <div class="section col">
                            <div class="section-header">
                                <b>{{section.title}}</b>
                                <form class="sectionHeader row" ng-submit="submit()" ng-show="isLoggedIn">
                                    <div class="addComment">
                                        <input type="text" ng-model="commentText" value="" placeholder="make a comment">
                                        <button type="button" name="submit" class="submitButton" submit>submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="section-body">
                                    {{section.text}}
                                </div>
                                <div class="section-comments" ng-if="section.comments.length">
                                    <div class="section-comment col" ng-controller="commentsController">
                                        <div class="section-comment-header">
                                            <label>Comments&nbsp;({{section.comments.length}})</label>
                                        </div>
                                        <button class="submitButton" ng-click="commentOpen = true" ng-hide="commentOpen">comment!</button>
                                        <div class="row">
                                            <div class="comment" ng-repeat="comment in section.comments">
                                                <div class="row">
                                                    {{comment.text}}
                                                </div>
                                                <button title="Edit the text of the comment." class="editButton" ng-click="">
                                      edit
                                    </button>
                                                <div class="detailText">
                                                    Writen by <a ng-href="#/user/{{comment.username}}">{{comment.username}}</a> {{comment.dtime}} ago
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-click="delete(response)" ng-hide="deleted" title="Delete this response." class="ownedResponse" ng-if="response.username == accountInfo.username">
                    <div></div><i class="fa fa-close" aria-hidden="true"></i>
                    <div></div>
                </div>
            </div>
            <div class="responseButton">
                <a class="circleButton" title="Respond to the question." ng-href="#login" ng-hide="isLoggedIn">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a ng-class="{responseUI: openUI, circleButton: !openUI}" title="Respond to the question." class="" ng-show="isLoggedIn" ng-click="openUI=true">
                    <i title="Respond to the question." ng-class="{fade: openUI}" class="fa fa-pencil" aria-hidden="true"></i>
                    <div ng-show="openUI" ng-include src="'html-components/answer-question-page.html'"></div>
                </a>
            </div>
        </div>
    </div>
