<div class="questionStream">
    <ul>
        <li ng-class='{questionContainer:!$first}' ng-repeat="q in questions" ng-init="isBodyHidden">
            <div class="container-row">
              <button class="questionTitle" ng-click="isBodyHidden=!isBodyHidden">
                  {{q.text}}
              </button>
            </div>
            <div class="responsesContainer" ng-if="isBodyHidden">
                <div class="container"></div>
                <div ng-if="!q.responses.length">
                    <h4 class="centerText">no responses...</h4>
                </div>
                <div class="responseTableContainer">
                    <div class="minResponseTable" ng-if="!!q.responses.length">
                        <table class="table table-hover">
                            <thead>
                                <tr class="btn-group-xs">
                                    <!-- <td>
                            <button ng-click="orderR = 'username'" class="btn btn-default btn-xs" type="button" name="button">Username</button>

                          </td> -->
                                    <td>
                                        <button ng-click="orderR = 'response'" class="btn btn-default btn-xs" type="button" name="button">Responses</button>

                                    </td>
                                    <!-- <td>
                            <button ng-click="orderR = 'date'" class="btn btn-default btn-xs" type="button" name="button">Date</button>

                          </td> -->
                                    <td class="float-right">
                                        <label class=" ">Do You Agree?</label>

                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in q.responses | orderBy: orderR">
                                    <!-- <td>
                                  {{r.username}}
                              </td> -->
                                    <td >
                                        {{r.text}}
                                    </td>
                                    <!-- <td >
                                  {{r.date}}
                              </td> -->
                                    <td class="float-right">
                                        <button ng-show="isLoggedIn" ng-click="agree(r.id)" class="btn btn-success btn-sm" type="button" name="button">Agree</button>
                                        <button ng-show="!isLoggedIn" class="btn btn-info btn-sm">
                                            <a ng-href="#login" style="color: white">log in to agree</a>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>
