<uib-accordion close-others="oneAtATime">
    <uib-accordion-group id="questionContainer" ng-init="areResponsesOpen = true" ng-repeat="q in questions | toArray | orderBy: order track by $index">
        <uib-accordion-heading class="panel-header-clear">
            <table class="table tableMod">
                <thead>
                    <tr>
                        <td class="pull-left">
                            {{q.question}}
                        </td>
                        <td class="float-right">
                            {{q.date}}
                        </td>
                    </tr>
                </thead>
            </table>
        </uib-accordion-heading>
        <div class="row container">
          <div class="col-lg-2">
            <button type="button" class="btn btn-default">
              advanced response
            </button>
          </div>
          <div ng-controller="submitResponseFormController" class="input-group col-lg-10">
              <input ng-model="response" type="text" class="form-control" placeholder="quick response">
              <span class="input-group-btn">
                  <button ng-click="submit(q.id, response)" type="button" class="btn btn-primary">submit</button>
              </span>
          </div>
        </div>
        <table class="table table-hover">
            <thead>
              <tr class="btn-group-xs">
                <td>
                  <button ng-click="orderR = 'username'" class="btn btn-default btn-xs" type="button" name="button">Username</button>

                </td>
                <td>
                  <button ng-click="orderR = 'response'" class="btn btn-default btn-xs" type="button" name="button">Responses</button>

                </td>
                <td>
                  <button ng-click="orderR = 'date'" class="btn btn-default btn-xs" type="button" name="button">Date</button>

                </td>
                <td class="float-right">
                  <label class=" ">Do You Agree?</label>

                </td>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in q.responses | orderBy: orderR">
                    <td>
                        {{r.username}}
                    </td>
                    <td style="width: 50% !important">
                        {{r.response}}
                    </td>
                    <td >
                        {{r.date}}
                    </td>
                    <td class="float-right">
                        <button ng-show="isLoggedIn" ng-click="agree(r.id)" class="btn btn-success btn-sm" type="button" name="button">Agree</button>
                        <button ng-show="!isLoggedIn" class="btn btn-info btn-sm">
                            <a ng-href="#login" style="color: white">log in to agree</a>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </uib-accordion-group>
</uib-accordion>
