<div class="search">
  <div class="searchParameters">
    <form class="searchForm col" ng-submit="submit()">
      <div class="row">
        Search
      </div>
      <div class="row">
        <input class="searchBox" type="text" name="question content" placeholder="Content (ex. Cats)" ng-model="globalQuery">
      </div>
      <div class="row">
        <label class="checkbox">
          Questions:
          <input type="checkbox" name="questions" value="" ng-model="doSearchQuestions">
        </label>
        <label class="checkbox">
          Responses:
          <input type="checkbox" name="responses" value="" ng-model="doSearchResponses">
        </label>
        <label class="checkbox">
          Users:
          <input type="checkbox" name="users" value="" ng-model="doSearchUsers">
        </label>
        <label class="checkbox">
          Tags:
          <input type="checkbox" name="tags" value="" ng-model="doSearchTags">
        </label>
      </div>

          <div class="">
            <button class="submitButton" type="submit">Search</button>
          </div>
    </form>
    <ul>
      <li class="detailText">
        If your results are not satisfing please try to be more specific or less broad. (ex. searching for "a" will return nothing)
      </li>
      <li class="detailText">
        It takes about a half hour for questions/responses/tags to get indexed in our search engine.
      </li>
    </ul>
  </div>
  <div class="searchResults">
    <div class="questions" ng-if="questions.length">
      <div class="header">
        Questions
        ({{questions.length}})
        <i class="fa fa-caret-up" aria-hidden="true"></i>
      </div>
      <div class="searchResults questionStream">
        <ng-include src="'html-components/questionStream.html'"> </ng-include>
      </div>
    </div>
    <div class="responses" ng-if="responseResults.length">
      <div class="header">
        Responses
        ({{responseResults.length}})
        <i class="fa fa-caret-up" aria-hidden="true"></i>
      </div>
      <div class="results">
        <div class="response" ng-repeat="response in responseResults">
          <div class="header row">
            <div class="text">
              {{response.text}}
            </div>
            <div class="fill-space"></div>
            <div class="details">
              Writen
              {{response.date}}
            </div>
          </div>
          <div class="subHeader row">
            <a ng-href="#/question/{{response.id}}">
              Go to context
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="users" ng-if="userResults.length">
      <div class="header">
        Users
        ({{userResults.length}})
        <i class="fa fa-caret-up" aria-hidden="true"></i>
      </div>
      <div class="results">
        <div class="user" ng-repeat="user in userResults">
          <a class="row" ng-href="#user/{{user.username}}">
            {{user.username}}
            <div class="fill-space"></div>
            <div class="details">
              total questions:
              {{user.my_questions}}
            </div>
            <div class="details">
              total responses:
              {{user.my_responses}}
            </div>
            <div class="details">
              total votes:
              {{user.my_votes}}

            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="tags" ng-if="tagResults.length">
      <div class="header">
        Tags
        ({{tagResults.length}})
        <i class="fa fa-caret-up" aria-hidden="true"></i>
      </div>
      <div class="results">

      </div>
    </div>
  </div>
</div>
