<!-- requires a object called "section" in parent element to populate title/body/comment components -->
<div class="section col">
    <div class="section-header">
        <b>{{section.title}}</b>
        <div class="row">
          <a class="commentButton" ng-hide="addCommentOpen" ng-click="addCommentOpen=true">
            <div class="description">
              Comment
            </div>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
        </div>
    </div>
    <div class="row">
        <div class="section-body">
            {{section.text}}
        </div>
        <div class="section-comments">
            <div class="section-comment col" ng-controller="commentsController">
                <div class="col">
                    <div ng-show="isLoggedIn && addCommentOpen">
                      <form class="addComment" ng-submit="submit()">
                            <textarea msd-elastic type="text" ng-model="commentText" value="" placeholder="Write a comment."></textarea>
                            <button type="button" name="submit" class="add-comment-button" ng-click="submit()">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                              <div class="description">add</div>
                            </button>
</button>
                      </form>
                    </div>

                </div>
                <div class="comments">
                    <div class="comment" ng-repeat="comment in section.comments">
                        <div class="row">
                            {{comment.text}}
                        </div>
                    </div>
                    <img ng-if="loading" src="media/animal.gif">
                    <div class="comment" ng-show="commentText.length" ng-hide="loading">
                        <div class="row comment-text">
                            {{commentText}}
                        </div>
                    </div>
                </div>
                <div class="comment-count center-vertical" ng-show="section.comments.length">
                  <label>{{section.comments.length}} Comments</label>
                </div>
            </div>
        </div>
    </div>
</div>
