<!-- requires a object called "section" in parent element to populate title/body/comment components -->
<div class="section col">
    <div class="section-header">
        <b>{{section.title}}</b>
        <div class="row">
          <a class="buttonExpandHorizontal" ng-hide="addCommentOpen" ng-click="addCommentOpen=true">
            <div class="description">
              Comment on this
            </div>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <div class="center-vertical" ng-show="section.comments.length">
            <label>Comments&nbsp;({{section.comments.length}})</label>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="section-body">
            {{section.text}}
        </div>
        <div class="section-comments">
            <div class="section-comment col" ng-controller="commentsController">
                <div class="col">
                    <div ng-show="isLoggedIn && addCommentOpen">
                      Make a comment:
                      <form class="addComment" ng-submit="submit()">
                            <textarea type="text" ng-model="commentText" value="" placeholder="La La La"></textarea>
                            <button type="button" name="submit" class="whiteButton" ng-click="submit()">submit comment</button>
                      </form>
                    </div>

                </div>
                <div class="comments">
                    <div class="comment" ng-repeat="comment in section.comments | limitTo:currentLoadLimit">
                        <div class="row">
                            {{comment.text}}
                        </div>
                    </div>
                    <img ng-if="loading" src="media/animal.gif">
                    <div class="comment" ng-show="commentText.length" ng-hide="loading">
                        <div class="row">
                            {{commentText}}
                        </div>
                    </div>
                    <button class="moreComments" ng-click="increaseLoadLimit()" ng-show="section.comments.length>currentLoadLimit">
                      load more...
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
