<div class="sidebar">
  <div class="catagory" ng-if="!isLoggedIn">
    <a class="buttonCard whiteButton" href="#/ask">Ask a Question</a>
  </div>
  <div class="catagory">
    <a href="#/question/5" class="row buttonCard whiteButton">
        Random Question!
    </a>
  </div>
  <div class="catagory sortContainer">
    <div class="row sortTitle">
      Sort
    </div>
    <div class="row optionsBoxContainer">
      <div class="optionsBox">
        <a class="left" ng-href="#discover">recent </a>
        <a class="right" ng-href="#discover">popular </a>
      </div>
    </div>
  </div>
  <div class="catagory">
    <span id="category-prompt">Categories</span>
    <div class="tags">
      <a ng-href="#/search?query={{tag.slug}}&doQ=false&doR=false&doU=false&doT" class="tag" ng-repeat="tag in randomTags">
        {{tag.slug}}
      </a>
    </div>
  </div>
</div>
