<div class="container-row questionStream">
    <ng-include src="'html-components/advancedSearch.html'"></ng-include>
    <!-- <div class="fill-space"></div> -->
    <div class="container-col fill-space">
      <div class="container-row center-self">
        <h1 class="center-self" ng-if="!questions.length">loading...</h1>
      </div>
        <div ng-if="questions.length">
          <div class="orderContainer">
              Order By:
              <button ng-click="order = 'question'" type="button" name="button">Question</button>
              <button ng-click="order = 'date'" type="button" name="button">Date</button>
          </div>
          <ng-include src="'html-components/questionStreamTest.html'"></ng-include>
          <div class="pagerContainer container-row">
              <button class="" ng-click="backPage()" type="button">previous</button>
              <div class="fill-space">
              </div>
              <button class="" ng-click="nextPage()" type="button">next</button>
          </div>
        </div>
    </div>
</div>
