<div class="container">
    <table class="">
        <thead>
            <tr>
                <td>
                  <div class="orderContainer">
                      Order By:
                      <button ng-click="order = 'question'" class="btn btn-default" type="button" name="button">Question</button>
                      <button ng-click="order = 'date'" class="btn btn-default" type="button" name="button">Date</button>
                  </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <!-- <ng-include src="'html-components/ask-question.html'"></ng-include> -->
        </tbody>
    </table>
    <!-- <ng-include src="'html-components/questionStream.html'"></ng-include> -->
    <ng-include src="'html-components/questionStreamTest.html'"></ng-include>
    <div class="container pagerContainer">
        <button ng-click="backPage()" type="button">previous</button>
        <button ng-click="nextPage()" type="button">next</button>
    </div>
</div>
