  <div class="container-row questionStream">
    <!-- <ng-include src="'html-components/sidebar.html'"></ng-include> -->
    <!-- <div class="fill-space"></div> -->
    <div class="container-col fill-space">
        <div class="container-col">
          <div class="fill-space"></div>
          <div class="container-row" ng-if="!questions.length">
            <div class="fill-space"></div>
              <div class="center-horizontal">
                  <img src="media/loading.svg">
              </div>
              <div class="fill-space"></div>
          </div>
          <div class="fill-space"></div>
        </div>
        <div ng-if="questions.length">
            <!-- <div class="container-row">
                Order By:
                <button class="border-r-n margin-l" ng-class="{'button-darken':order == 'text'}" ng-click="orderAlphabet()" type="button" name="button">Alphabetically</button>
                <button class="border-l-n" ng-class="{'button-darken':order == 'date'}" ng-click="orderDate()" type="button" name="button">Date</button>
                <button ng-click="order = 'id'" type="button" name="button">Date</button>
            </div> -->
            <div class="" >
              <ng-include src="'html-components/questionStreamTest.html'"> </ng-include>
            </div>
            <!-- <div class="" ng-if="isCurrentSearchTermEmpty">
              <ng-include src="'html-components/questionStreamTest.html'"> </ng-include>
            </div> -->

            <div class="pagerContainer container-row">
                <a href="" ng-click="goBackOne()">
                <!-- <a class="" ng-href="#discover/{{parseInt($routeParams.page, 10)-1}}"> -->
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                  previous page
                </a>
                <div class="fill-space"></div>
                <a href="" ng-click="goForwardOne()">
                  next page
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
