    <div class="account col" ng-controller="userController">
      <div class="header row">
        <div class="fill-space"></div>
          <span class="page-title">Profile</span>
        <div class="fill-space"></div>
      </div>
      <div class="row" ng-hide="info.username.length || noUser">
        <div class="fill-space"></div>
        <img src="media/animal.gif">
        <div class="fill-space"></div>
      </div>
      <div class="noUser" ng-show="noUser">
        No user found.
      </div>
      <div class="" ng-hide="noUser">
          <div class="col">
            <div class="row fill-space accountStats">
              <div class="row subheader" ng-click="showQ()">
                <div class="contentTitle">
                     Your Questions
                </div>
                <div class="fill-space"></div>
                <div class="details">
                  <label>Total Questions:
                  {{info.my_questions}}
                </label>
                </div>
              </div>
              <div class="empty-text" ng-hide="questions.length">
                ¯\_(ツ)_/¯ You have not asked any questions! Try solving
                <a href="#/question/1">THIS</a>
                easy question!
              </div>
                <div class="questionStream" ng-if="questions.length && showQuestions">
                  <ng-include src="'html-components/questionStream.html'"> </ng-include>
                </div>
            </div>
            <div class="row fill-space accountStats">
              <div class="row subheader" ng-click="showR()">
                <div class="contentTitle">
                     Your Responses
                </div>
                <div class="fill-space"></div>
                <div class="details">
                  <label>Total Responses:
                  {{info.my_responses}}
                </label>
                </div>
              </div>
              <div class="empty-text" ng-hide="info.my_responses.length">
                ¯\_(ツ)_/¯ You have not responsed to any question! Try solving
                <a href="#/question/1">THIS</a>
                easy question!
              </div>
              <div class="responses">
                <div class="response" ng-repeat="response in responses">
                  <div class="header row">
                    <div class="text">
                      {{response.text}}
                    </div>
                  </div>
                  <div class="subHeader row">
                    <a ng-href="#/question/{{response.id}}">
                      Go to context
                    </a>
                    <div class="fill-space"></div>
                    <div class="details">
                      Writen
                      {{response.date}}
                    </div>
                  </div>
                </div>
              </div>
          </div>
              </div>
          </div>
      </div>
    </div>
